.tips {
    .tip {
        background-color: $primary-color;
        height: 250px;
        margin: 20px 0;
        @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
        text-align: center;
        padding: 30px;
        transition: .3s all;
        a {
            transition: .3s all;
        }
        p {
            color: #fff;
            font-weight: 700;
            font-size: 1.1em;
        }
    }
    .disabled-tip {
        background: $secondary-color;
        i {
            color: #fff;
            font-size: 2.5em;
            margin-top: 10px;
        }
    }
}