.dashboard-nav {
    z-index: 3;
    width: 350px;
    height: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    mark {
        color: #fff;
        font-weight: 700;
    }
    @media screen and (max-width: 670px) {
        display: none;
    }
    @media screen and (max-width: 1200px) {
        width: 250px;
    }
    @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
    .icon-logout {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1.3em;
    }
    ul li a span:first-child {
        margin-right: 15px;
        font-size: 1.1em;
        padding-top: 5px;
    }

    ul li a span:last-child {
        margin-left: 10px;
    }

    &>div {
        background-color: $primary-color;
        text-align: center;
        padding: 100px 30px 40px 30px;
        h2 {
            color: #fff;
            font-weight: $regular;
            font-size: 1.4em;
            line-height: 30px;
        }
    }

    ul li {
        border-left: 5px solid #fcfcfc;
    }

    .active {
        border-left: 5px solid $third-color;
        a {
            color: $third-color;
            span:before { color: $third-color !important;}
        }
    }
    nav ul li a {
        background-color: #fcfcfc;
        padding: 30px;
        margin-top: 1px;
        color: $primary-color;
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
    }
}

.dashboard-nav ~ .row {
    margin-left: 330px;
    position: relative;
    @media screen and (max-width: 1200px) {
        width: calc(100% - 220px);
        margin-left: 235px;
    }
    @media screen and (max-width: 670px) {
        width:  auto;
        margin-left: -15px;
        margin-right: -15px;
    }
}

.dashboard-nav-mobile {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 80px;
    background-color: #fff;
    @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
    z-index: 3;

    ul li {
        display: inline-block;
        width: calc(25% - 4px);
        text-align: center;
        padding: 30px 0px;
        position: relative;
        a {
            font-size: 1.6em;
        }
        &.active {
            background-color: $primary-color;
            a span:before {
                color: #fff !important;
            }
        }
        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            right: -3px;
            top: 27px;
            width: 1px;
            height: 30px;
            background-color: #f2f2f2;
        }
        .icon-logout:before {
            color: $primary-color !important;
        }
    }

    @media screen and (min-width: 670px) {
        display: none;
    }
}

.innerbox {
    background-color: #fff;
    @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
    width: 100%;
    position: relative;
}

.board-job {
    h2 {
        font-size: 1.3em;
    }
    .icon-clear {
        cursor: pointer;
        &:before {
            color: #fff;
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }
}
