//FLOATING LABELS
@mixin float-label-container {
    display: block;
    position: relative;
}

@mixin float-label {
    label, > span {
        position: absolute;
        left: 0;
        top: 0;
        cursor: text;
        font-size: 75%;
        opacity: 1;
        transition: all .2s;
        @content;
    }
}

@mixin float-label-input {
    &::placeholder {
        opacity: 1;
        transition: all .2s;
    }
    &:placeholder-shown:not(:focus)::placeholder {
        opacity: 0;
    }
}

@mixin float-label-scaled {
    &:placeholder-shown:not(:focus) + * {
        font-size: 115%;
        opacity: .5;
        @content;
    }
}

.has-float-label {
    @include float-label-container;

    @include float-label;

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    input, select {
        @include float-label-input;
        font-size: inherit;
        padding-top: 1.25em;
        margin-bottom: 2px;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid rgba(0,0,0,.1);

        @include float-label-scaled {
            top: 1.25em;
        }

        &:focus {
            outline: none;
            border-color: rgba(0,0,0,.5);
        }
    }
}





//FORMS
.login {
    h1 {
        margin-top: 20px;
        color: $secondary-color;
    }
    p { margin: 10px 0px; }
    button {
        background-color: $secondary-color;
        border: none;
        text-transform: uppercase;
        padding: 10px 15px;
        margin-top: 5px;
    }
    img {
        width: 80%;
        margin-left: 10px;
        margin-bottom: 15px;
    }
    .box-primary {
        margin-bottom: 0px;
        padding: 60px;
    }
}
form {
    margin: 25px 0px;
}
.form-control {
    border-radius: 0;
    padding-left: 0;
    margin-top: 10px;
    outline: none;
    height: 60px;
    box-shadow: none;
    font-size: .9em !important;
    border: none;
    &:focus {
        box-shadow: none;
    }
}

textarea {
    border: none;
    overflow:hidden;
    padding:10px;
    display:block;
    border-radius:10px;
    resize: none;
    min-height: 50px;
    padding-top: 25px !important;
    padding-bottom: 8px !important;
    margin-top: 20px;
    border-bottom: 1px solid rgba(0,0,0,.1) !important;
    line-height: 1.9em !important;
    &:focus {
        border-bottom: 1px solid rgba(0,0,0,1) !important;
    }
}

.tab-content {
    h2 {
        margin-bottom: 10px;
        width: auto;
        display: inline-block;
    }
    form {
        margin: 0;
    }
    .form-group {
        margin-bottom: 30px;
    }
    fieldset {
        margin: 40px 0px;
    }
    input[type="number"]{
        height: 36px !important;
        border-bottom: 1px solid rgba(0,0,0,.1) !important;
    }
}

.styled-select {
    border-bottom: 1px solid rgba(0,0,0,.1);
    overflow: hidden;
    width: 100%;
    background: url(../img/arrow.svg) no-repeat right center;
    height: 45px;
    select {
        background: transparent;
        border: none;
        font-size: 14px;
        height: 29px;
        padding: 5px;
        width: 268px;
    }
}





