body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background: $bg-grey; /* Old browsers */
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, label {
	color: $primary-color;
}

h1 {
	font-size: 1.6em;
	font-weight: $regular;
	line-height: 1.4em;
}

h1.head-title {
	line-height: 1.4em;
	display: inline-block;
}

.grid-wrapper .head-title {
	margin-top: 30px;
	margin-bottom: 25px;
}

h2 {
	font-size: 1.1em;
	font-weight: $regular;
	line-height: 25px;
}

h3, label {
	font-size: .9em;
	font-weight: $regular;
}

p {
	font-size: .9em;
	color: $text-color;
	line-height: 30px;
	font-weight: $light;
	margin: 20px 0px;
}

mark {
	background-color: transparent;
}

q {
	font-size: 2.3em;
	font-weight: $regular;
	color: #fff;
	line-height: 45px;
	margin-top: 120px;
	display: block;
	@media screen and (max-width: 991px) {
		margin-top: 0px;
	}
	@media screen and (max-width: 768px) {
		margin-top: 40px;
	}
}

a {
	color: #fff;
	&:hover {
		text-decoration: none;
	}
}

img {
	width: 100%;
}

.btn-default {
	color: #fff;
	text-transform: uppercase;
	padding: 10px 15px;
	display: inline-block;
	@include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
	transition: .3s opacity;
	&.blue {
		background-color: $primary-color;
		&:hover {
			color: #fff;
			opacity: .8;
			transition: .3s opacity;
		}
	}
	&.red {
		background-color: $secondary-color;
		&:hover {
			color: #fff;
			opacity: .8;
			transition: .3s opacity;
		}
	}
	&.yellow {
		background-color: $third-color;
		&:hover {
			color: #fff;
			opacity: .8;
			transition: .3s opacity;
		}
	}
}

.btn-primary {
	color: #fff;
	padding: 5px 10px;
	display: inline-block;
	transition: .3s opacity;
	&.blue {
		background-color: $primary-color;
		&:hover {
			color: #fff;
			opacity: .8;
			transition: .3s opacity;
		}
	}
	&.red {
		background-color: $secondary-color;
		&:hover {
			color: #fff;
			opacity: .8;
			transition: .3s opacity;
		}
	}
	&.yellow {
		background-color: $third-color;
		&:hover {
			color: #fff;
			opacity: .8;
			transition: .3s opacity;
		}
	}
}

.add-btn {
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url("../../img/add.svg") center center no-repeat;
	background-color: $primary-color;
	margin-bottom: -4px;
	margin-left: 5px;
}

//HEADER & NAVIGATION
header, .head {
	background-color: $primary-color;
	padding: 20px 15px;
	h1 { color: #fff; }
	back { font-size: 1.6em; }
	position: fixed;
	width: 100%;
	z-index: 1;
}

.navigation.main-button {
	color: #fff;
	position: fixed;
	top: 20px;
	right: 30px;
	font-size: 1.5em;
	z-index: 2;
}

.sidenav {
	width: 0;
	height: 100%;
	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;
	background-color: $primary-color;
	overflow-x: hidden;
	transition: .5s;
	padding-top: 10px;
	margin-right: -5px;
	color: $primary-color;
	@include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));

	.closebtn {
		color: $third-color;
		position: absolute;
		right: 40px;
		top: 30px;
		font-size: 1.8em;
		z-index: 4;
	}

	.main-mobile {
		li {
			margin-left: 10px;
			a {
				font-size: .9em;
				text-transform: none;
				line-height: 20px;
				font-weight: $regular;
				.percentage {
					color: $third-color;
					font-weight: $semibold;
				}
			}
		}
	}

	nav {
		width: 250px;
		text-align: left;
		margin-left: 30px;
		position: absolute;
		padding-top: 80px;

		a {
			color: #fff;
			width: 100%;
			display: block;
			text-transform: uppercase;
			margin-bottom: 30px;
			font-size: 1.1em;
			font-weight: $semibold;
			i {
				display: inline-block;
				margin-right: 10px;
				color: $third-color;
			}
		}
	}

}

.desktop-nav {
	@media screen and (max-width: 768px) {
		display: none;
	}
}

.mobile-nav {
	display: none;
	.main-button i {
		color: $primary-color;
		margin-top: 10px;
	}
	@media screen and (max-width: 768px) {
		display: block;
	}
}


.secondary-navigation {
	@include box-shadow(0, 2px, 6px, 0, rgba(0, 0, 0, .1));
	nav {
		width: 100%;
		background-color: $primary-color;

		mark {
			color: $third-color;
			font-weight: 700;
			margin-left: 3px;
		}
		ul li {
			padding: 20px 30px 0px 30px;
			button {
				border: none;
				padding-bottom: 20px;
				background-color: transparent;
				color: #fff;
				&:focus {
					outline: none;
				}
			}
			&.active {
				border-bottom: 3px solid #fff;
				button {
					background-color: transparent;
					border: none;
					color: #fff;
					&:hover {
						background-color: transparent;
						border: none;
					}
				}
			}
			button:hover {
				background-color: transparent;
				border: none;
			}
		}
	}
	@media screen and (max-width: 1200px) {
		ul {
			li {
				width: 100%;
				border-left: 5px solid $primary-color;
				padding: 10px 0px;
				&.active {
					border-bottom: none !important;
					border-left: 5px solid $third-color;
				}
			}
		}
	}
}

.actions-nav {
	background-color: $primary-color;
	padding: 10px 38px;
	position: fixed;
	bottom: 0;
	width: calc(100% - 250px);
	right: 0;
	text-align: right;
}

//BOXES
.box-primary {
	overflow: hidden;
	position: relative;
	@include box-shadow(0, 2px, 6px, 0, rgba(0, 0, 0, .1));
	padding: 80px;
	background-color: #fff;
	margin-top: 40px;
	margin-bottom: 40px;
	@media screen and (max-width: 991px) {
		padding: $mobile-padding;
	}
	@media screen and (max-width: 768px) {
		margin: 0 5px;
	}
	&.no-padding {
		padding: 0;
		.btn-default {
			margin-top: 30px;
			color: #fff;
		}
		& > div > div:last-child {
			padding: 60px;
			@media screen and (max-width: 991px) {
				padding: 40px;
			}
		}
		.back-img {
			width: 100%;
			display: block;
			position: relative;
			height: 200px;
			.btn-default {
				position: absolute;
				right: 0;
				top: 45%;
				transform: translate(-50%, 0);
				margin: 0;
			}
		}
		ul {
			margin-left: 20px;
		}
		li {
			color: $text-color;
			font-size: .9em;
			font-weight: $light;
			list-style-position: inside;
			list-style-type: circle;
			margin: 20px 0px;
			line-height: 1.8em;
		}
		a {
			color: $primary-color;
		}
	}
	&.spotlight-skills {
		padding: 0;
		margin-top: 0px;
		margin-bottom: 0;
		.row > div:first-child {
			padding: 40px;
			@include flexbox();
			@include vertical-align();
			@media screen and (max-width: 991px) {
				padding: $mobile-padding;
			}
			background: #fcfcfc; /* Old browsers */
			background: -moz-linear-gradient(top, #fcfcfc 75%, #f9f9f9 75%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #fcfcfc 75%,#f9f9f9 75%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #fcfcfc 75%,#f9f9f9 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
		}
		.row > div:last-child {
			padding: 40px;
			@media screen and (max-width: 991px) {
				padding: $mobile-padding;
			}
			h2 {
				display: inline-block;
				float: left;
				margin-bottom: 10px;
			}
			p {
				display: inline-block;
				text-align: right;
				float: right;
				margin: 0;
				color: $primary-color;
				mark {
					font-weight: $semibold;
					color: $third-color;
				}
			}
		}
	}
	&.spotlight-cv {
		padding: 0;
		margin-top: 0px;
		margin-bottom: 0;
		.row > div:last-child {
			padding: 40px;
			@include flexbox();
			@include vertical-align();
			@media screen and (max-width: 991px) {
				padding: $mobile-padding;
			}
			background: #fcfcfc; /* Old browsers */
			background: -moz-linear-gradient(top, #fcfcfc 75%, #f9f9f9 75%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #fcfcfc 75%,#f9f9f9 75%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #fcfcfc 75%,#f9f9f9 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
		}
		.row > div:first-child {
			padding: 60px;
			@media screen and (max-width: 991px) {
				padding: $mobile-padding;
			}
			h2 {
				display: inline-block;
				float: left;
				margin-bottom: 10px;
			}
			p {
				display: inline-block;
				mark {
					font-weight: $semibold;
					color: $third-color;
				}
			}
		}
	}
	&.spotlight-results {
		padding: 0;
		margin-top: 20px;
		@media screen and (max-width: 991px) {
			margin-bottom: 40px;
		}

		h1 {
			margin-bottom: 20px;
			display: inline-block;
		}

		.btn-default {
			margin-top: 20px;
			max-width: 60% !important;
			@media screen and (max-width: 991px) {
 				max-width: 100% !important;
			}
		}

		.btn-box {
			height: 30px;
			@media screen and (max-width: 991px) {
				height: auto;
			}
			a {
				padding: 5px;
				margin-right: 10px;
				font-weight: 700;
				transition: .3s all;

				&:hover {
					transition: .3s all;
					padding-bottom: 2px;
				}
			}
			a {
				color: $third-color;
				border-bottom: 1px solid $third-color;
			}
			a:last-child {
				color: $secondary-color;
				border-bottom: 1px solid $secondary-color;
			}
		}

		p { margin: 0; }

		mark {
			color: $primary-color;
			font-weight: 700;
		}

		.btn-default {
			background-color: $secondary-color;
			width: 100% !important;
			margin-bottom: 0 !important;
			&:hover {
				color: #fff;
			}
		}

		.row > div {
			&:first-child {
				padding: 60px;
				@media screen and (max-width: 991px) {
					padding: $mobile-padding;
				}
				h2 {
					margin-top: 10px;
					color: $text-color;
					margin-bottom: 80px;
				}
				a {
					width: 100%;
					margin-bottom: 5px;
					text-align: center;
					cursor: pointer;
					@media screen and (max-width: 768px) {
						display: inline-block;
						text-align: left;
						line-height: 1.5em;
						margin-bottom: 20px;
					}
				}
			}
			&:nth-child(2):after {
				content: "";
				display: inline-block;
				width: 4px;
				height: 400px;
				background-color: #fff;
				position: absolute;
				right: 0;
			}
			&:nth-child(2), &:nth-child(3){
				background: #fcfcfc; /* Old browsers */
				background: -moz-linear-gradient(top, #fcfcfc 75%, #f9f9f9 75%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, #fcfcfc 75%,#f9f9f9 75%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, #fcfcfc 75%,#f9f9f9 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
				padding: 60px;
				@media screen and (max-width: 991px) {
					padding: $mobile-padding;
				}
				@media screen and (max-width: 1400px) {
					padding: 30px;
				}
				@include flexbox();
				@include vertical-align();
			}
		}
	}
	&.spotlight-what {
		padding: 0;
		overflow: hidden;
		&>div:first-child {
			padding: 80px;
			p:last-child {
				margin: 0;
			}
			@media screen and (max-width: 991px) {
				padding: $mobile-padding;
			}
		}
		&>div:last-child {
			padding: 0;
			background: url("../img/what.png");
			background-position: center center;
		}
	}
}
.box-secondary {
	padding: 40px 60px;
	@include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
	background-color: $primary-color;
	margin-bottom: 40px;
	h2, p {
		font-weight: $regular;
		color: #fff;
	}
	p { margin: 20px 0px;}
}
.spacer-top {
	margin-top: 100px;
}
.spacer {
	margin: 40px 0px;
}
.row-eq-height {
	@include flexbox();
	@media screen and (max-width: 991px) {
		display: block;
	}
}
.clearpadding {
	padding: 0;
}

.progressbox {
	padding: 10px 15px;
	font-size: 1.0em;
	display: inline-block;
	background-color: $secondary-color;
	color: #fff;
	margin-left: 5px;
}

.disabled {
	opacity: .3;
}

.hide-mobile {
	@media screen and (max-width: 991px) {
		display: none;
	}
}

.clearmargin {
	margin-top: 0 !important;
}

.dummy {
	clear: both;
}

.message {
	padding: 30px;
	width: 100%;
	background-color: #F7F7F7;
	text-align: center;
	color: #C4C4C4;
}

.error {
	color: $secondary-color;
	font-weight: 500;
}


//TABS
.tab-content {
	background-color: #fff;
	@include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
	padding: 40px;
	margin-bottom: 80px;
	overflow: hidden;
}

#skills {
	margin: -30px;
}

.skills-table {
	margin-bottom: -40px;
	.skill-content {
		padding: 20px;
		& > div {
			@include flexbox();
			@include vertical-center();
			&:first-child {
				color: $primary-color;
			}
			&:last-child {
				@include vertical-align();
			}
		}
		.yellow {
			background-color: transparent;
			border: 1px solid $third-color;
			color: $third-color;
			box-shadow: none;
		}
		.showed {
			background-color: $third-color;
			color: #fff;
		}
	}
	.skill-content:nth-child(even){
		background-color: $bg-grey;
	}
}

.innerlink {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;

	&:hover {
		& + .tip {
			background: $third-color;
			a {
				background: $primary-color;
			}
		}
	}
}

.icon-check {
	width: 30px !important;
	height: 30px;
	border: 2px solid $third-color;
	border-radius: 15px;
	@include flexbox;
	@include vertical-align;
	transition: .3s all;
	span {
		position: absolute;
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-size: .7em;
		font-weight: 700;
		right: 65px;
		width: 80px;
		text-align: right;
		line-height: 1.2em;
		opacity: 1;
		transition: .3s all;
		color: #fff !important;
	}
	&.completed {
		background-color: $third-color;
		transition: .3s all;
		border: 2px solid $third-color;
		&:before {
			color: #fff;
		}
	}
	&:hover {
		&:before {
			color: #fff;
			transition: .3s all;
		}
		background-color: $third-color;
		transition: .3s all;
		border: 2px solid $third-color;
		span {
			opacity: 1;
			transition: .3s all;
		}
	}
	&:focus {
		text-decoration: none;
	}
}

.title-skill {
	position: relative;
	display: inline-block;
	width: 100%;
	h1 {
		width: 70%;
	}
	.icon-check span {
		right: 35px;
	}
	span {
		color: $primary-color !important;
	}
}





