.spotlight-score {
    padding: 10px;
    background-color: $secondary-color;
    position: absolute;
    left: 40px;
    top: 40px;
    @media screen and (max-width: 768px) {
        position: relative;
        left: 0;
        top: 0;
    }
    p {
        color: #fff;
        font-weight: $regular;
        font-size: 1.0em;
        margin: 0;
    }
    mark {
        color: #fff;
        font-weight: $semibold;
    }
}

.page-navigation {
    margin-bottom: 20px;
    @media screen and (max-width: 991px) {
        margin: 0 auto;
        max-width: 400px;
    }
    p {
        color: $primary-color;
        font-weight: $regular;
        span { margin-left: 5px; }
    }
    .clearpadding {
        @include box-shadow(0, 2px, 6px, 0, rgba(0, 0, 0, .1));
        background-color: #fff;
        a {
            color: $primary-color;
            width: 50%;
            padding: 20px;
            float: left;
            display: inline-block;
            text-align: center;

            &.active {
                color: #fff;
                background-color: $primary-color;
            }
        }
    }
}
.tasks {
    display: none;
    h1 { margin: 40px 0px;}
    .task-box p {
        margin-right: 10px;
    }
}
.tools {
    padding: 40px !important;
    h1 { margin-bottom: 40px; font-size: 1.2em;}
    @media screen and (max-width: 850px) {
        img {
            margin: 20px 0;
        }
    }
}