.header-landing {
    padding: 20px;
    background-color: #fff;
    @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));

    .desktop-nav {
        ul {
            margin: 10px 0;
            li {
                display: inline-block;
                margin-left: 20px;
                a {
                    color: $primary-color;
                }
                .btn-primary {
                    color: #fff;
                }
            }
        }

    }
}
.spotlight-landing {
    background: url("../img/landing-bg.png") top center;
    background-size: cover;
    padding: 170px 0px 80px 0px;

    .btn-default {
        margin-top: 25px;
    }
}
.logo {
    img {
        width: 140px;
    }
}
.how-box {
    margin: 100px 0px;
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    nav {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        display: block;
        margin-bottom: 50px;

        ul li {
            display: inline-block;
            width: 40px;
            height: 40px;
            background: $third-color;
            display: inline-block;
            border-radius: 20px;
            padding: 5px;
            margin: 0 3px;
            cursor: pointer;
            transition: .3s all;
            &:hover {
                background: $primary-color;
                transition: .3s all;
            }
            &.active {
                background: $primary-color;
            }
        }
    }
    .item {
        @include vertical-align();
        display: none;
        @media screen and (max-width: 991px) {
            position: relative;
        }
        &.active {
            @include flexbox();
            @media screen and (max-width: 991px) {
                display: block;
            }
        }
    }
    .text-box {
        position: absolute;
        background: #fff;
        @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
        padding: 40px;
        width: 450px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        @media screen and (max-width: 991px) {
            position: relative;
            width: 100%;
            margin-top: 10px;
            top: 0;
            transform: none;
        }
        p {
            margin: 0;
        }
        h1 {
            text-align: left;
            margin-bottom: 15px;
        }
    }
}
.cta-box {
    background: $primary-color;
    padding: 40px 20px;
    margin: 0 -15px;

    .pull-right {
        @media screen and (max-width: 1120px) {
            float: left !important;
            margin-top: 20px;
        }
    }
    h1 {
        color: #fff;
        font-size: 1.2em;
        margin-top: 9px;
        @media screen and (max-width: 991px) {
            line-height: 30px;
        }
        @media screen and (max-width: 1120px) {
            display: inline-block;
        }
    }
}

.msg {
    color: $third-color;
    font-weight: 700;
    margin-top: 0;
}


footer {
    background: #fff;
    @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
    margin: -20px -15px;
    padding: 40px;
    p {
        display: inline-block;
        margin: 0;
    }
    img {
        height: 20px;
        width: auto;
        margin: 0 5px;
    }
}
