.login .box-secondary {
    h2 {
        font-weight: 700;
    }
    mark {
        color: #FFF;
        font-weight: 700;
    }
    a {
        border-bottom: 1px solid #fff;
        padding-bottom: 3px;
        transition: .3s padding-bottom;
        &:visited {
            color: #fff;
        }
        &:hover {
            transition: .3s padding-bottom;
            padding-bottom: 1px;
            color: #fff;
        }
    }
}
