//GRID
.grid-wrapper {
    padding: 40px 40px 0 40px;
    @media screen and (max-width: 670px) {
        padding: 15px 15px 0 15px;
    }
}
.page-navigation + .grid .skill {
    margin-bottom: 5px;
}
.grid {
    width: 100%;
    display: inline-block;
    margin-bottom: 100px;
    @media screen and (max-width: 991px) {
        margin-top: 10px;
    }
    .skill {
        width: 50%;
        padding: 10px 5px 0px 5px;
        margin-bottom: 50px;

        @media screen and (max-width: 991px) {
            width: 100%;
        }
        .innerbox span {
            margin-left: 10px;
        }
    }
    &-skills {
        display: inline-block;
        margin-bottom: 100px;
        width: 100%;
        margin-top: 20px;
        .skill {
            width: 100%;
            padding: 10px 5px 0px 5px;
            @media screen and (max-width: 1060px) {
                width: 100%;
            }
            h2 {
                margin-right: 10px;
            }
            .innerbox .btn-default {
                margin-top: -5px;
            }
            .row .flex {
                height: 80px;

                .round-progress-wrapper {
                    height: 80px;

                    .round-progress {
                        width: auto !important;
                    }
                }
            }
        }
    }

    &-questions {
        display: inline-block;
        margin-bottom: 100px;
        width: 100%;
        .question {
            width: 100%;
            padding: 10px 5px 0px 5px;
            margin-bottom: 30px;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }

    &-resources {
        margin-left: 0;
        margin-right: 0;
        @media screen and (max-width: 991px) {
           .pull-right {
               float: left !important;
               margin-top: 20px;
           }
        }
    }

    .board-job {
        width: 33%;
        padding: 5px;
        margin: 0;
        @media screen and (max-width: 1200px) {
            width: 50%;
        }
        @media screen and (max-width: 860px) {
            width: 100%;
        }
        h2 {
            text-align: center;
            color: #fff;
            background-color: $primary-color;
            padding: 15px 15px 20px 15px;
            font-weight: $regular;
        }
        .txt-box {
            width: 80%;
            margin: 0 auto;
            padding: 20px 0px;
            &>div {
                position: relative;
                text-align: center;
                width: 100%;
                float: left;
                padding: 20px 0px;
                p {
                    color: #000;
                    margin: 0;
                    margin-top: 5px;
                    margin-bottom: 30px;
                    font-size: 1.2em;
                }
                mark {
                    font-weight: $semibold;
                    color: $primary-color;
                    font-size: 1.4em;
                }
            }
            &>div:first-child:after {
                content: "";
                display: inline-block;
                width: 1px;
                background-color: $bg-grey;
                height: 80px;
                position: absolute;
                top: 10px;
                right: 0;
            }
            a {
                width: 49%;
                display: inline-block;
                text-align: center;
                @media screen and (max-width: 1333px) {
                    margin-bottom: 10px;
                    width: 100%;
                }
            }
        }
    }
}
