.matches {
    &>div:nth-child(3), &>div:nth-child(2) {  margin-top: 30px; }
    h2 {
        display: inline-block;
        margin-bottom: 15px;
        @media screen and (max-width: 991px) {
            margin-bottom: 10px;
        }
    }
    mark {
        color: $third-color;
    }
    p {
        margin: 0 0 20px 0;
    }
    a {
        width: 100%;
        display: inline-block;
        @media screen and (max-width: 991px) {
            width: 30%;
            float: left;
        }
        @media screen and (max-width: 450px) {
            width: 100%;
        }
    }
    p + a {
        width: auto;
        margin-bottom: 0;
    }
    h2+p mark {
        color: $primary-color;
        font-weight: 700;
    }
}
.task-box, .skill .innerbox {
    background-color: #fff;
    @include flexbox();
    @include vertical-align();
    @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
    padding: 20px;
    span {
        color: $secondary-color;
    }
    p {
        color: $primary-color;
        font-size: 1.1em;
        margin: 0;
    }
}
.task-box {
    margin-bottom: 15px;
}
.selected {
    & > div > .row:first-child {
        margin-bottom: 30px;
    }
    @media screen and (max-width: 768px) {
        margin: 0 5px;
        .head-title + .btn-default {
            margin-top: 20px;
        }
    }
}
.head-title + .btn-default, .head-title + .btn-primary {
    float: right;
    @media screen and (max-width: 670px) {
        position: relative;
        float: left;
        margin-bottom: 0px;
        margin-top: 20px;
        display: block;
        width: 100%;
        text-align: center;
    }
}

.title-dashboard {
    width: calc(100% - 345px);
    padding: 30px;
    background-color: #fff;
    @include box-shadow(0, 2px, 6px, 0, rgba(0, 0, 0, .1));
    position: fixed;
    z-index: 2;
    .back-btn {
        margin-top: 11px;
        margin-right: 10px;
        i {
            color: $primary-color;
        }
    }
    & + .grid-wrapper {
        margin-top: 100px;
        @media screen and (max-width: 670px) {
            margin-top: 150px;
        }
    }
    @media screen and (max-width: 1200px) {
        width: calc(100% - 240px);
    }
    @media screen and (max-width: 670px) {
        width: 100%;
    }
}

.filters {
    width: calc(100% - 345px);
    padding: 15px 30px;
    background-color: $primary-color;
    right: 0;
    z-index: 1;
    margin-top: 95px;
    position: fixed;
    .styled-select {
        color: #fff;
        border: none;
        height: 30px;
    }
    @include box-shadow(0, 2px, 6px, 0, rgba(0, 0, 0, .1));
    form {
        margin: 0;
    }
    @media screen and (max-width: 1200px) {
        width: calc(100% - 240px);
    }
    @media screen and (max-width: 670px) {
        width: 100%;
    }
}