.overlay {
    display: none;
}
.tinder-header {
    padding: 20px 0 15px 0;
    span {
        padding: 10px 15px;
        font-size: 1.0em;
        @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
        display: inline-block;
    }
    &>div:first-child {
        span:first-child {
            background-color: #fff;
            color: $secondary-color;
        }
        span:last-child {
            background-color: $secondary-color;
            color: #fff;
        }
    }
    &>div:nth-child(2) img {
        width: 120px;
        margin-top: 5px;
    }
    &>div:last-child span {
        background-color: $secondary-color;
        color: #fff;
    }
}
.tinder-head {
    padding: 40px 0px 10px 0px;

    @media screen and (max-width: 991px) {
        padding: 40px 0px 30px 0px;
    }

    span {
        padding: 10px 15px;
        font-size: 1.0em;
        @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
        display: inline-block;
    }

    img {
        max-height: 50px;
        width: auto;
    }
}
.tinder {
    &>div:first-child {
        margin-bottom: 10px;
    }
    .task {
        color: $primary-color;
        font-size: 2.3em;
        line-height: 60px;
        text-align: center;
        background-color: #fff;
        height: 70vh;
        padding: 100px;
        width: 98%;
        margin: 0 auto;
        @include flexbox();
        @include vertical-align();
        @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
        transition: .3s all;
        @media screen and (max-width: 991px) {
            padding: 20px;
            font-size: 1.8em;
            line-height: 40px;
        }
    }
    .tinder-choices {
        .icon-check, .icon-clear {
            border: none;
            &:before {
                color: #fff;
            }
            &:hover {
                background-color: transparent;
            }
        }
        div:first-child a {
            background: #8cdd00;
            opacity: .7;
            transition: .3s;
            background: -webkit-linear-gradient(left, #87cc02 , #8cdd00); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right, #87cc02, #8cdd00); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, #87cc02, #8cdd00); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to right, #87cc02 , #8cdd00); /* Standard syntax */
        }
        div:last-child a {
            background-color: #ea280f;
            opacity: .7;
            transition: .3s;
            background: -webkit-linear-gradient(left, red , #ea280f); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right, red, #ea280f); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, red, #ea280f); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to right, red , #ea280f); /* Standard syntax */
        }
        div a {
            height: 100px;
            margin-top: 2vh;
            @include flexbox();
            @include vertical-align();
            @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
            &:hover {
                transition: .3s;
                opacity: 1;
            }
        }
    }
}
