.container div .progressbox {
    margin: 50px 0px 40px 0px;
    @media screen and (max-width: 991px) {
        margin: 10px 0px 40px 0px;
    }
}
.answers {
    & > div a {
        width: 100%;
        background-color: $third-color;
        @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
        margin-bottom: 10px;
        padding: 10px;
        font-size: 1.1em;
        display: block;
        line-height: 25px;
        transition: all .3s;

        &:hover {
            background-color: $primary-color;
            color: #fff;
            transition: all .3s;
        }
    }
}