.question {
    .innerbox {
        padding: 40px;
        position: relative;
        h2 {
            width: 90%;
        }
    }
    h3 {
        margin-top: 10px;
    }
    p {
        margin-bottom: 0px;
        margin-top: 10px;
    }
    span {
        position: absolute;
        right: 40px;
        top: 45px;
    }
    .icon-check {
        border: none;
        &:before {
            color: #8cdd00;
        }
        &:hover {
            &:before {
                color: #8cdd00;
            }
            background-color: transparent;
            border: none;
        }
    }
}

.resource-box {
    margin-bottom: 40px;
    .resource {
        margin: 40px 0;
    }
}

