.grid-skills {
    .skill {
        .round-progress {
            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        .innerbox {
            display: inline-block;
            padding: 0;
            margin-bottom: 10px;

            & > div:first-child {
                background-color: $primary-color;
                width: 100%;
                padding: 20px;
                h2 {
                    color: #fff;
                    font-weight: $regular;
                    width: 60%;
                    display: inline-block;
                }
            }

            h2 {
                a {
                    cursor: pointer;
                }
                .not-completed {
                    color: $secondary-color;
                }
                .completed {
                    color: $third-color;
                }
            }
        }

        @media screen and (min-width: 1100px) {
            .col-md-7 {
                text-align: center;
            }
        }

        mark {
            font-size: 1.1em;
            color: $primary-color;
            margin-bottom: 10px;
            font-weight: 700;
        }

        .row {
            padding: 25px;
            @include flexbox();
            @include vertical-align();
            .flex {
                @include flexbox();
                @include vertical-align();
                @media screen and (max-width: 768px) {
                    display: block;
                    width: 100%;
                }
            }
            .progress-number {
                font-size: 1.1em;
            }
        }

        .btn-box a {
            width: 100%;
            text-align: center;
            cursor: pointer;
            &:last-child {
                margin-top: 5px;
            }
        }

    }
}

.suggestionbox {
    //background-color: $primary-color;
    border: 1px solid $primary-color;
    padding: 20px 20px;
    margin-top: 40px;
    @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
    h2 {
        color: $primary-color !important;
        margin-bottom: 20px !important;
        margin-top: 0 !important;
    }
}


//PANELS
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border: none;
}

.panel-group {
    .panel {
        @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));

        .panel-heading a span {
            transition: .3s transform;
            -ms-transform: rotate(180deg); /* IE 9 */
            -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
            transform: rotate(180deg);
        }

        .collapsed {
            a span {
                transition: .3s transform;
                -ms-transform: rotate(0deg); /* IE 9 */
                -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
                transform: rotate(0deg);
            }
        }
        .panel-heading {
            background-color: $primary-color;
            border: none;
            border-radius: 0;
            color: #fff;
            padding: 20px;
            cursor: pointer;
            h4 {
                font-family: 'Open Sans', sans-serif;
                font-weight: 500;
                font-size: 1.2em;
                display: inline-block;
                max-width: 90%;
                span:first-child {
                    font-size: .8em;
                    font-weight: 700;
                    color: $third-color;
                    margin-left: 2px;
                }
                span:last-child {
                    font-size: .7em;
                    font-weight: 700;
                    color: #fff;
                    margin-left: 2px;
                }
            }
            .icon-down {
                float: right;
                display: inline-block;
                margin-top: 5px;
            }
        }
        .panel-body {
            padding: 0px 40px;
            @media screen and (max-width: 991px) {
                padding: 0px 30px;
            }
        }

        .objective {
            padding: 60px 0px 30px 0px;
            border-bottom: 1px solid #e3e3e3;
            &:last-child {
                border: none;
            }
            & > h2 {
                color: $third-color;
                font-weight: 500;
                font-size: 1.3em;
                width: 100%;
                margin: 0 15px 0 15px;
                span {
                    font-size: .7em;
                    color: $primary-color;
                    margin-left: 5px;
                    font-weight: 700;
                }
            }
            .resource {
                & > div {
                    @include flexbox;
                    @include vertical-center;
                }
                margin: 40px 0px;
                h3 {
                    font-weight: 700;
                }
                p {
                    margin: 0;
                }
                a {
                    width: 100%;
                    text-align: center;
                }
                & > div {
                    color: $third-color;
                    font-size: .9em;

                    span {
                        margin-right: 5px;
                        &:before {
                            color: $third-color;
                        }
                    }
                }
            }
        }
    }
    .panel:last-child {
        margin-bottom: 100px;
    }
}