.vacancies {
    margin-top: 160px;
    .vacancy {
        padding: 40px;
        background-color: #fff;
        margin-bottom: 30px;
        @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
        div {
            color: $third-color;
            margin-top: 10px;
            span {
                margin-right: 5px;
            }
        }
    }
}

.vacancy-detail {
    padding: 120px 50px;

    p {
        margin-top: 0;
    }

    h3 {
        margin: 40px 0 20px 0;
    }

    ul {
        margin: 20px;
        li {
            font-size: .9em;
            font-weight: 400;
            list-style: circle;
            margin: 10px 0;
            line-height: 1.4em;
        }
    }
}