@font-face {
    font-family: 'icons';
    src:  url('../fonts/icons.eot?ksozta');
    src:  url('../fonts/icons.eot?ksozta#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?ksozta') format('truetype'),
    url('../fonts/icons.woff?ksozta') format('woff'),
    url('../fonts/icons.svg?ksozta#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-right:before {
    content: "\e910";
    color: $primary-color;
}
.icon-check:before {
    content: "\e911";
    color: #f5cc24;
}
.icon-skills:before {
    content: "\e900";
    color: $primary-color;
}
.icon-jobs:before {
    content: "\e901";
    color: $primary-color;
}
.icon-cv:before {
    content: "\e902";
    color: $primary-color;
}
.icon-vacancies:before {
    content: "\e903";
    color: $primary-color;
}
.icon-place:before {
    content: "\e904";
    color: #f5cc24;
}
.icon-left:before {
    content: "\e905";
    color: #f5cc24;
}
.icon-down:before {
    content: "\e906";
    color: #f5cc24;
}
.icon-up:before {
    content: "\e907";
    color: #f5cc24;
}
.icon-clear:before {
    content: "\e908";
    color: $secondary-color;
}
.icon-logout:before {
    content: "\e909";
    color: #fff;
}
.icon-menu:before {
    content: "\e90a";
    color: #f5cc24;
}
.icon-status-1:before {
    content: "\e90b";
    color: #f5cc24;
}
.icon-status-2:before {
    content: "\e90c";
    color: #f5cc24;
}
.icon-filter:before {
    content: "\e90d";
    color: #f5cc24;
}
.icon-account:before {
    content: "\e90e";
    color: #f5cc24;
}
.icon-status-3:before {
    content: "\e90f";
    color: #f5cc24;
}

.book, .ot, .event {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
}

.book {
    background: url("../img/icons/book.svg");
    background-size: cover;
}

.ot {
    background: url("../img/icons/ot.svg");
    background-size: cover;
}

.event {
    background: url("../img/icons/event.svg");
    background-size: cover;
}
