$primary-color: #449BF7;
$secondary-color: #FF6960;
$third-color: #F5CC24;
$bg-grey: #FCFCFC;
$text-color: #000000;
$hover-color: #fe362c;

$light: 300;
$regular: 500;
$semibold: 600;

$mobile-padding: 40px;