//ORIENTATION PAGE
.overlay {
    display: none;
}
.tinder-head {
    padding: 20px 0px;

    span {
        padding: 10px 15px;
        font-size: 1.0em;
        @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
        display: inline-block;
    }
    &>div:first-child {
        span:first-child {
            background-color: #fff;
            color: $secondary-color;
        }
        span:last-child {
            background-color: $secondary-color;
            color: #fff;
        }
    }
    &>div:nth-child(2) img {
        width: 120px;
        margin-top: 5px;
    }
    &>div:last-child span {
        background-color: $secondary-color;
        color: #fff;
    }
}
.tinder {
    &>div:first-child {
        margin-bottom: 10px;
    }
    &>div {
        a {
            color: $primary-color;
            font-size: 1.7em;
            line-height: 40px;
            text-align: center;
            background-color: #fff;
            height: 43vh;
            padding: 50px;
            width: 98%;
            margin: 0 auto;
            @include flexbox();
            @include vertical-align();
            @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
            transition: .3s all;
            @media screen and (max-width: 991px) {
                padding: 20px;
                font-size: 1.1em;
                line-height: 30px;
            }
            &:hover {
                transition: .3s all;
                background-color: $primary-color;
                color: #fff;
            }
        }
    }
}


//MATCHES PAGE
.matches {
    &>div:first-child, &>div:nth-child(2) {  margin-bottom: 30px; }
    h2 {
        display: inline-block;
        margin-bottom: 15px;
    }
    mark {
        color: $third-color;
    }
    a {
        width: 100%;
        display: inline-block;
    }
}
.task-box, .skill .innerbox {
    background-color: #fff;
    @include flexbox();
    @include vertical-align();
    @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
    padding: 20px;
    span {
        color: $secondary-color;
    }
    p {
        color: $primary-color;
        font-size: 1.1em;
        margin: 0;
    }
}
.task-box {
    margin-bottom: 15px;
}
.head-title + .btn-default, .head-title + .btn-primary {
    float: right;
    position: absolute;
    top: 20px;
    right: 20px;
    @media screen and (max-width: 768px) {
        position: relative;
        float: left;
        margin-left: 15px;
        top: 0px;
        margin-bottom: 40px;
        display: block;
        width: 100%;
        text-align: center;
    }
}


//JOBDETAIL PAGE
.spotlight-score {
    padding: 10px;
    background-color: $secondary-color;
    position: absolute;
    left: 40px;
    top: 40px;
    p {
        color: #fff;
        font-weight: $regular;
        font-size: 1.0em;
        margin: 0;
    }
    mark {
        color: #fff;
        font-weight: $semibold;
    }
}

.page-navigation {
    p {
        color: $primary-color;
        font-weight: $regular;
        span { margin-left: 5px; }
    }
    .clearpadding {
        @include box-shadow(0, 2px, 6px, 0, rgba(0, 0, 0, .1));
        background-color: #fff;
        a {
            color: $primary-color;
            width: 49%;
            padding: 20px;
            display: inline-block;
            text-align: center;

            &.active {
                color: #fff;
                background-color: $primary-color;
            }
        }
    }
}
.tasks {
    display: none;
    h1 { margin: 40px 0px;}
    .task-box p {
        margin-right: 10px;
    }
}
.tools {
    padding: 40px !important;
    h1 { margin-bottom: 40px; font-size: 1.2em;}
    @media screen and (max-width: 850px) {
        img {
            margin: 20px 0;
        }
    }
}

//DASHBOARD PAGE
.dashboard-nav {
    z-index: 3;
    width: 350px;
    height: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    @media screen and (max-width: 670px) {
        display: none;
    }
    @media screen and (max-width: 1200px) {
        width: 250px;
    }
    @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
    .icon-logout {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1.3em;
    }
    ul li a span:first-child {
        margin-right: 15px;
        font-size: 1.1em;
        padding-top: 5px;
    }

    ul li a span:last-child {
        margin-left: 10px;
    }

    &>div {
        background-color: $primary-color;
        text-align: center;
        padding: 100px 30px 40px 30px;
        h2 {
            color: #fff;
            font-weight: $regular;
            font-size: 1.4em;
            line-height: 30px;
        }
    }
    .active {
        border-left: 5px solid $third-color;
        a {
            color: $third-color;
            span:before { color: $third-color !important;}
        }
    }
    nav ul li a {
        background-color: #fcfcfc;
        padding: 30px;
        margin-top: 1px;
        color: $primary-color;
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
    }
}

.dashboard-nav ~ .row {
    margin-left: 370px;
    margin-right: 15px;
    @media screen and (max-width: 1200px) {
        width: calc(100% - 250px);
        margin-left: 250px;
    }
    @media screen and (max-width: 670px) {
        width:  100%;
        margin-left: 0;
    }
    //.row {
    //    margin: 0;
    //}
}

.dashboard-nav-mobile {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 80px;
    background-color: #fff;
    @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
    z-index: 3;

    ul li {
        display: inline-block;
        width: calc(25% - 4px);
        text-align: center;
        padding: 30px 0px;
        position: relative;
        a {
            font-size: 1.6em;
        }
        &.active {
            background-color: $primary-color;
            a span:before {
                color: #fff !important;
            }
        }
        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            right: -3px;
            top: 27px;
            width: 1px;
            height: 30px;
            background-color: #f2f2f2;
        }
        .icon-logout:before {
            color: $primary-color !important;
        }
    }

    @media screen and (min-width: 670px) {
        display: none;
    }
}

.innerbox {
    background-color: #fff;
    @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
    width: 100%;
    position: relative;
}

.board-job {
    .icon-clear {
        &:before {
            color: #fff;
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }
}

//SKILLS PAGE
.grid-skills {
    .skill {
        overflow: hidden;

        h2 {
            background-color: $primary-color;
            color: #fff;
            width: 100%;
            padding: 20px;
            font-weight: $regular;
        }

        .innerbox {
            display: inline-block;
            padding: 0;
        }

        mark {
            font-size: 1.4em;
            color: $primary-color;
            display: block;
            margin-bottom: 10px;
        }

        .row {
            padding: 25px;
            text-align: center;
            @include flexbox();
            @include vertical-align();
            .flex {
                @include flexbox();
                @include vertical-align();
            }
            .progress-number {
                font-size: 1.1em;
                top: 50px;
            }
        }

        .btn-box a {
            width: 100%;
            text-align: center;
            &:last-child {
                margin-top: 5px;
            }
        }
    }
}


//QUESTIONS PAGE
.container div .progressbox {
    margin: 50px 0px 40px 0px;
}
.answers {
    & > div a {
        width: 100%;
        background-color: $third-color;
        @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));
        margin-bottom: 10px;
        padding: 10px;
        font-size: 1.1em;
        display: block;
        line-height: 25px;
    }
}



//RESULTS PAGE
.question {
    .innerbox {
        padding: 40px;
        position: relative;
        h2 {
            width: 90%;
        }
    }
    h3 {
        margin-top: 10px;
    }
    p {
        margin-bottom: 0px;
    }
    span {
        position: absolute;
        right: 40px;
        top: 45px;
    }
}

.resource-box {
    margin-bottom: 40px;
    .resource {
        margin: 40px 0;
    }
}

//LANDING PAGE
.header-landing {
    padding: 20px;
    background-color: #fff;
    @include box-shadow(0,2px,6px,0,rgba(0,0,0,.1));

    .desktop-nav {
        ul {
            margin: 10px 0;
            li {
                display: inline-block;
                margin-left: 20px;
                a {
                    color: $primary-color;
                }
                .btn-primary {
                    color: #fff;
                }
            }
        }

    }
}
.spotlight-landing {
    background: url("../img/landing-bg.png") top center;
    background-size: cover;
    padding: 170px 0px 80px 0px;

    .btn-default {
        margin-top: 25px;
    }
}
.logo {
    img {
        width: 150px;
    }
}
