//PROGRESS BARS
.progress {
    width: 100%;
    height: 25px;
    border-radius: 0;
    display: inline-block;
    box-shadow: none;
    background-color: $bg-grey;
    margin-bottom: 0px;
}
.progress-bar {
    background-color: $primary-color;
}
.progress-number {
    position: absolute;
    left: 0;
    right: 0;
    top: 130px;
    text-align: center;
    font-size: 1.3em;
    color: $primary-color;
    mark {
        color: $third-color;
        font-size: 1.8em;
        margin-bottom: 5px;
        display: inline-block;
        font-weight: $semibold;
    }
}
.progress-box {
    margin: 20px 0px;
}
.round-progress-wrapper {
    padding-bottom: 0 !important;
}

.round-progress {
    position: relative !important;
}