<div class="row login">

    <div class="col-md-4 col-md-offset-4">

        <div class="row">

            <div class="col-md-12 box-primary">

                <div class="row">

                        <div>
                            <img class="img-responsive" src="img/{{ logo }}" alt="Digimaps" style="max-height: 128px; max-width: 300px;">
                        </div>

                        <h2> Your pasword has been changed </h2>

                </div>

                <div class="row" style="margin-top: 20px">

                    <a ng-click="proceed()" class="btn-default red">Continue</a>

                </div>

            </div>

        </div>


    </div>

</div>