<div class="row login">

    <div class="col-md-4 col-md-offset-4">

        <div class="row">

            <div class="col-md-12 box-primary">

                <div class="row">

                        <div>
                            <img class="img-responsive" src="img/{{ logo }}" alt="Digimaps" style="max-height: 128px; max-width: 300px;">
                        </div>

                    <div class="col-md-12">

                        <h1> Change Password </h1>

                    </div>

                </div>

                <div class="row">

                    <form name="loginForm">

                        <div class="col-md-12">
                        
                             <div class="form-group">
                                 <div class="has-float-label">
                                    <input type="password" class="form-control" id="ln-login-username" placeholder="Password" ng-model="credentials.password" name="userName" required>
                                     <label for="ln-login-username">Password</label>
                                 </div>
                            </div>

                            <div class="form-group">
                                <div class="has-float-label">
                                    <input type="password" class="form-control" id="ln-login-password" placeholder="Repeat password" ng-model="credentials.password2" name="password" required>
                                    <label for="ln-login-password">Repeat password</label>
                                </div>
                            </div>

                            <div ng-if="message">
                                <p class="error">{{message}}</p>
                            </div>

                             <button type="submit" class="btn-primary" ng-click="update(credentials)">Change</button>

                        </div>

                    </form>

                </div>

            </div>

        </div>


    </div>

</div>