<div class="row results">
    <div class="container">
        <div class="pull-left">
            <h1> Ennio Weckx </h1>
        </div>
        <div class="pull-right">
            <div class="result-box">
                <mark>65%</mark> compleet CV
            </div>
        </div>
    </div>
</div>
<div class="row subnavigation">
    <div class="container">
         <nav>
            <ul>
                <li><a href="#/cv">General information</a></li>
                <li><a href="#/cv-work">Work experience & education</a></li>
                <li class="active"><a href="#/cv-skills">Skills &amp; tools</a></li>
                <li><a href="#/cv-certifications">Certificates</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="row module-cv">
    <div class="container">
        <div class="col-md-12">
            <h2> Skills </h2>
        </div>
        <div class="col-md-12">
            <h3> Social media marketeer </h3>
            <div class="row detail skills grid">

                <div class="skill text-center">

                    <div>

                        <h2> Research taken </h2>

                         <div class="flex">
                             <div class="ng-cloak progress-number" ng-style="getStyle()">10/100</div>
                             <round-progress
                                        max="50"
                                        current="20"
                                        color="#fe362c"
                                        bgcolor="#fe665f"
                                        radius="120"
                                        stroke="20"
                                        semi="false"
                                        rounded="false"
                                        clockwise="true"
                                        responsive="true"
                                        duration="800"
                                        animation="easeInOutQuart"
                                        animation-delay="0"
                                        >
                            </round-progress>
                        </div>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque beatae debitis deserunt fugiat id minima officiis recusandae repellat.</p>

                         <a href="/question" class="btn">
                            test deze skill <i class="fa fa-1x fa-chevron-right" aria-hidden="true"></i>
                        </a>

                        <form action="post">
                            <input type="checkbox" name="skill" value="Skill">Hide skill on CV<br>
                        </form>

                    </div>

                </div>

                <div class="skill text-center disabled">

                    <div>

                        <h2> Research taken </h2>

                         <div class="flex">
                             <div class="ng-cloak progress-number" ng-style="getStyle()">10/100</div>
                             <round-progress
                                        max="50"
                                        current="20"
                                        color="#fe362c"
                                        bgcolor="#fe665f"
                                        radius="120"
                                        stroke="20"
                                        semi="false"
                                        rounded="false"
                                        clockwise="true"
                                        responsive="true"
                                        duration="800"
                                        animation="easeInOutQuart"
                                        animation-delay="0"
                                        >
                            </round-progress>
                        </div>

                        <p> Lorem ipsum dolor sit amet, consectetur adi.</p>

                         <a href="/question" class="btn">
                            test deze skill <i class="fa fa-1x fa-chevron-right" aria-hidden="true"></i>
                        </a>

                        <form action="post">
                            <input type="checkbox" name="skill" value="Skill" checked="true">Hide skill on CV<br>
                        </form>

                    </div>

                </div>

                <div class="skill text-center">

                    <div>

                        <h2> Research taken </h2>

                         <div class="flex">
                             <div class="ng-cloak progress-number" ng-style="getStyle()">10/100</div>
                             <round-progress
                                        max="50"
                                        current="20"
                                        color="#fe362c"
                                        bgcolor="#fe665f"
                                        radius="120"
                                        stroke="20"
                                        semi="false"
                                        rounded="false"
                                        clockwise="true"
                                        responsive="true"
                                        duration="800"
                                        animation="easeInOutQuart"
                                        animation-delay="0"
                                        >
                            </round-progress>
                        </div>

                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque beatae debitis deserunt fugiat.</p>

                         <a href="/question" class="btn">
                            test deze skill <i class="fa fa-1x fa-chevron-right" aria-hidden="true"></i>
                        </a>

                        <form action="post">
                            <input type="checkbox" name="skill" value="Skill">Hide skill on CV<br>
                        </form>

                    </div>
                </div>
            </div>
            <h3> Content writer </h3>
            <div class="row grid skills">
                <div class="skill text-center">

                    <div>

                        <h2> Research taken </h2>

                         <div class="flex">
                             <div class="ng-cloak progress-number" ng-style="getStyle()">10/100</div>
                             <round-progress
                                        max="50"
                                        current="20"
                                        color="#fe362c"
                                        bgcolor="#fe665f"
                                        radius="120"
                                        stroke="20"
                                        semi="false"
                                        rounded="false"
                                        clockwise="true"
                                        responsive="true"
                                        duration="800"
                                        animation="easeInOutQuart"
                                        animation-delay="0"
                                        >
                            </round-progress>
                        </div>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque beatae debitis deserunt fugiat id minima officiis recusandae repellat.</p>

                         <a href="/question" class="btn">
                            test deze skill <i class="fa fa-1x fa-chevron-right" aria-hidden="true"></i>
                        </a>

                        <form action="post">
                            <input type="checkbox" name="skill" value="Skill">Hide skill on CV<br>
                        </form>

                    </div>

                </div>

                <div class="skill text-center disabled">

                    <div>

                        <h2> Research taken </h2>

                         <div class="flex">
                             <div class="ng-cloak progress-number" ng-style="getStyle()">10/100</div>
                             <round-progress
                                        max="50"
                                        current="20"
                                        color="#fe362c"
                                        bgcolor="#fe665f"
                                        radius="120"
                                        stroke="20"
                                        semi="false"
                                        rounded="false"
                                        clockwise="true"
                                        responsive="true"
                                        duration="800"
                                        animation="easeInOutQuart"
                                        animation-delay="0"
                                        >
                            </round-progress>
                        </div>

                        <p> Lorem ipsum dolor sit amet, consectetur adi.</p>

                         <a href="/question" class="btn">
                            test deze skill <i class="fa fa-1x fa-chevron-right" aria-hidden="true"></i>
                        </a>

                        <form action="post">
                            <input type="checkbox" name="skill" value="Skill" checked="true">Hide skill on CV<br>
                        </form>

                    </div>

                </div>

                <div class="skill text-center">

                    <div>

                        <h2> Research taken </h2>

                         <div class="flex">
                             <div class="ng-cloak progress-number" ng-style="getStyle()">10/100</div>
                             <round-progress
                                        max="50"
                                        current="20"
                                        color="#fe362c"
                                        bgcolor="#fe665f"
                                        radius="120"
                                        stroke="20"
                                        semi="false"
                                        rounded="false"
                                        clockwise="true"
                                        responsive="true"
                                        duration="800"
                                        animation="easeInOutQuart"
                                        animation-delay="0"
                                        >
                            </round-progress>
                        </div>

                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque beatae debitis deserunt fugiat.</p>

                         <a href="/question" class="btn">
                            test deze skill <i class="fa fa-1x fa-chevron-right" aria-hidden="true"></i>
                        </a>

                        <form action="post">
                            <input type="checkbox" name="skill" value="Skill">Hide skill on CV<br>
                        </form>

                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-12">
            <h2> Tools </h2>
        </div>
    </div>
</div>

<div class="fixed-navigation text-right">
    <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-download" aria-hidden="true"></i></a>
    <a href="">Bekijk voorbeeld</a>
</div>
<script>

$( document ).ready(function() {

    setTimeout(function() {
        var container = $('.grid');

         container.imagesLoaded( function() {
          container.masonry({
                itemSelector : '.skill'
            });
        });

    }, 100);
});

</script>