<div class="row results">
    <div class="container">
        <div class="pull-left">
            <h1> Ennio Weckx </h1>
        </div>
        <div class="pull-right">
            <div class="result-box">
                <mark>65%</mark> compleet CV
            </div>
        </div>
    </div>
</div>
<div class="row subnavigation">
    <div class="container">
         <nav>
            <ul>
                <li><a href="#/cv">General information</a></li>
                <li class="active"><a href="#/cv-work">Work experience & education</a></li>
                <li><a href="#/cv-skills">Skills &amp; tools</a></li>
                <li><a href="#/cv-certifications">Certificates</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="row module-cv">
    <div class="container">
        <div class="col-md-6">
            <h2> Werkervaring </h2>
            <form action="">
                <div class="row">
                    <div class="col-md-12">
                        <label for="txtWorkTitle">Titel</label>
                        <input type="text" class="txtWorkTitle">
                    </div>
                    <div class="col-md-12">
                        <label for="txtWorkCompany">Bedrijf</label>
                        <input type="text" class="txtLastName">
                    </div>
                    <div class="col-md-12">
                        <label for="txtWorkPlace">Plaats</label>
                        <input type="text">
                    </div>
                    <div class="col-md-6">
                        <label for="txtWorkFrom">Van</label>
                         <select name="select-date" id="txtWorkFrom">
                            <option value="jan">Januari</option>
                            <option value="feb">Februari</option>
                            <option value="maa">Maart</option>
                            <option value="apr">April</option>
                            <option value="mei">Mei</option>
                            <option value="jun">Juni</option>
                            <option value="jul">Juli</option>
                            <option value="aug">Augustus</option>
                            <option value="sep">September</option>
                            <option value="okt">Oktober</option>
                            <option value="nov">November</option>
                            <option value="dec">December</option>
                        </select>
                        <input type="text" placeholder="Jaar">
                    </div>
                    <div class="col-md-6">
                        <label for="txtWorkTill">Tot</label>
                         <select name="select-date" id="txtWorkTill">
                            <option value="jan">Januari</option>
                            <option value="feb">Februari</option>
                            <option value="maa">Maart</option>
                            <option value="apr">April</option>
                            <option value="mei">Mei</option>
                            <option value="jun">Juni</option>
                            <option value="jul">Juli</option>
                            <option value="aug">Augustus</option>
                            <option value="sep">September</option>
                            <option value="okt">Oktober</option>
                            <option value="nov">November</option>
                            <option value="dec">December</option>
                        </select>
                        <input type="text" placeholder="Jaar">
                    </div>
                    <div class="col-md-12">
                        <label for="txtWorkDescription">Beschrijving</label>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Beschrijving"></textarea>
                    </div>
                    <div class="col-md-12">
                        <a href="" class="btn btn-default"> Voeg werkervaring toe <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h2> Studies </h2>
            <form action="">
                <div class="row">
                    <div class="col-md-12">
                        <label for="txtStudySchool">School</label>
                        <input type="text" class="txtStudySchool">
                    </div>
                    <div class="col-md-12">
                        <label for="txtStudyDegree">Diploma</label>
                        <select name="select-degree" id="txtLevel">
                            <option value="professionele bachelor">Professionele bachelor</option>
                            <option value="academische bachelor">Academische bachelor</option>
                            <option value="master">Master</option>
                        </select>
                    </div>
                     <div class="col-md-12">
                        <label for="txtStudyStudy">Studie</label>
                        <input type="text" class="txtStudyStudy">
                    </div>
                    <div class="col-md-6">
                        <label for="txtStudyFrom">Van</label>
                        <select name="select-date" id="txtStudyFrom">
                            <option value="jan">Januari</option>
                            <option value="feb">Februari</option>
                            <option value="maa">Maart</option>
                            <option value="apr">April</option>
                            <option value="mei">Mei</option>
                            <option value="jun">Juni</option>
                            <option value="jul">Juli</option>
                            <option value="aug">Augustus</option>
                            <option value="sep">September</option>
                            <option value="okt">Oktober</option>
                            <option value="nov">November</option>
                            <option value="dec">December</option>
                        </select>
                        <input type="number" placeholder="Jaar">
                    </div>
                    <div class="col-md-6">
                        <label for="txtStudyTill">Tot</label>
                        <select name="select-date" id="txtStudyTill">
                            <option value="jan">Januari</option>
                            <option value="feb">Februari</option>
                            <option value="maa">Maart</option>
                            <option value="apr">April</option>
                            <option value="mei">Mei</option>
                            <option value="jun">Juni</option>
                            <option value="jul">Juli</option>
                            <option value="aug">Augustus</option>
                            <option value="sep">September</option>
                            <option value="okt">Oktober</option>
                            <option value="nov">November</option>
                            <option value="dec">December</option>
                        </select>
                        <input type="text" placeholder="Jaar">
                    </div>
                    <div class="col-md-12">
                        <label for="txtStudyDescription">Beschrijving</label>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Beschrijving"></textarea>
                    </div>
                    <div class="col-md-12">
                        <a href="" class="btn btn-default"> Voeg studie toe <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row module-cv">
    <div class="container">
        <div class="col-md-12 text-center">
            <h1>Werkervaring</h1>
        </div>
        <div class="col-md-12">
            <div class="row grid"> 
                <div class="work-box">
                    <a href="" class="pull-right"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <h2>Front-end developer</h2>
                    <h3>Gent - Forcit</h3>
                    <h4>feb 2017 - apr 2017</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, unde delectus sunt vero culpa deleniti, repudiandae molestiae nostrum iusto distinctio ad suscipit quibusdam, quas nisi. Illo quae reprehenderit iusto, provident.</p>
                </div>
                <div class="work-box">
                    <a href="" class="pull-right"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <h2>Front-end developer</h2>
                    <h3>Gent - Forcit</h3>
                    <h4>feb 2017 - apr 2017</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, unde delectus sunt vero culpa deleniti, repudiandae molestiae nostrum iusto distinctio ad suscipit quibusdam, quas nisi. Illo quae reprehenderit iusto, provident.</p>
                </div>
                 <div class="work-box">
                    <a href="" class="pull-right"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <h2>Front-end developer</h2>
                    <h3>Gent - Forcit</h3>
                    <h4>feb 2017 - apr 2017</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, unde delectus sunt vero culpa deleniti, repudiandae molestiae nostrum iusto distinctio ad suscipit quibusdam, quas nisi. Illo quae reprehenderit iusto, provident.</p>
                </div>
                 <div class="work-box">
                    <a href="" class="pull-right"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <h2>Front-end developer</h2>
                    <h3>Gent - Forcit</h3>
                    <h4>feb 2017 - apr 2017</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, unde delectus sunt vero culpa deleniti.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row module-cv">
    <div class="container">
        <div class="col-md-12 text-center">
            <h1>Studies</h1>
        </div>
        <div class="col-md-12">
            <div class="row grid">
                <div class="work-box">
                    <a href="" class="pull-right"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <h2>Professionele Bachelor Devine</h2>
                    <h3>Howest</h3>
                    <h4>feb 2017 - apr 2017</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, unde delectus sunt vero culpa deleniti, repudiandae molestiae nostrum iusto distinctio ad suscipit quibusdam, quas nisi. Illo quae reprehenderit iusto, provident.</p>
                </div>
                <div class="work-box">
                    <a href="" class="pull-right"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <h2>Professionele Bachelor Devine</h2>
                    <h3>Howest</h3>
                    <h4>feb 2017 - apr 2017</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, unde delectus sunt vero culpa deleniti, repudiandae molestiae nostrum iusto distinctio ad suscipit quibusdam, quas nisi. Illo quae reprehenderit iusto, provident.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fixed-navigation text-right">
    <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-download" aria-hidden="true"></i></a>
    <a href="">Bekijk voorbeeld</a>
</div>
<script>

$( document ).ready(function() {

    setTimeout(function() {
        var container = $('.grid');

         container.imagesLoaded( function() {
          container.masonry({
                itemSelector : '.work-box'
            });
        });

    }, 100);
});

</script>