<div class="dashboard-nav">
    <div>
        <a href="#/logout"><span class="icon-logout"></span></a>
        <h2>Welcome,<br> <mark>{{profile.firstname}} {{profile.lastname}}</mark></h2>
    </div>
    <nav>
        <ul>
            <li><a href="#/dashboard"><span class="icon-jobs"></span>My Goals<span class="icon-right"></span></a></li>
            <li class=""><a href="#/skills"><span class="icon-skills"></span>My Skills<span class="icon-right"></span></a></li>
            <li class="active"><a href="#/cv"><span class="icon-cv"></span>My CV<span class="icon-right"></span></a></li>
            <li class=""><a href="#/vacancies"><span class="icon-vacancies"></span>Vacancies<span class="icon-right"></span></a></li>
        </ul>
    </nav>
</div>
<div class="dashboard-nav-mobile">
    <nav>
        <ul>
            <li><a href="#/dashboard"><span class="icon-jobs"></span></a></li>
            <li><a href="#/skills"><span class="icon-skills"></span></a></li>
            <li class="active"><a href="#/cv"><span class="icon-cv"></span></a></li>
            <li><a href="#/vacancies"><span class="icon-vacancies"></span></a></li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="title-dashboard">
        <h1 class="head-title">My CV</h1>
    </div>
    <div class="grid-wrapper">
        <div class="col-md-12 box-primary spotlight-cv">
            <div class="row row-eq-height">
                <div class="col-md-8">
                    <div class="progress-box">
                        <h2>Collect the best tips for your digital cv</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur culpa eligendi facilis laudantium, quia quo quos! A mollitia nesciunt possimus quas quibusdam! Architecto, facere id mollitia possimus vel velit vero.</p>
                        <a class="btn-default yellow" href="#/skills">Test skills</a>
                        <a class="btn-default red" href="#/vacancies">Vacancies</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ng-cloak progress-number" ng-style="getStyle()"><mark>{{ skillsCompleted(getSkills(profile.goals))}} / {{ getSkills(profile.goals).length }}</mark><br> tips collected </div>
                    <round-progress
                            max=getSkills(profile.goals).length
                            current=skillsCompleted(getSkills(profile.goals))
                            color="#F5CC24"
                            bgcolor="#FFF"
                            radius="120"
                            stroke="20"
                            semi="false"
                            rounded="false"
                            clockwise="false"
                            responsive="true"
                            duration="800"
                            animation="easeInOutQuart"
                            animation-delay="0"
                    >
                    </round-progress>
                </div>
            </div>
        </div>
        <div class="dummy">

        </div>
    </div>
</div>
<div class="row grid-wrapper tips">
    <div class="col-lg-3 col-md-4">
        <a href="" class="innerlink"></a>
        <div class="tip">
            <p>Dit is een tip voor jouw cv te optimaliseren...</p>
            <a class="btn-default red">Check it out!</a>
        </div>
    </div>
    <div class="col-lg-3 col-md-4">
        <a href="" class="innerlink"></a>
        <div class="tip">
            <p>Dit is een tip voor jouw cv te optimaliseren...</p>
            <a class="btn-default red">Check it out!</a>
        </div>
    </div>
    <div class="col-lg-3 col-md-4">
        <a href="" class="innerlink"></a>
        <div class="tip">
            <p>Dit is een tip voor jouw cv te optimaliseren...</p>
            <a class="btn-default red">Check it out!</a>
        </div>
    </div>
    <div class="col-lg-3 col-md-4">
        <a href="" class="innerlink"></a>
        <div class="tip">
            <p>Dit is een tip voor jouw cv te optimaliseren...</p>
            <a class="btn-default red">Check it out!</a>
        </div>
    </div>
    <div class="col-lg-3 col-md-4">
        <a href="" class="innerlink"></a>
        <div class="tip">
            <p>Dit is een tip voor jouw cv te optimaliseren...</p>
            <a class="btn-default red">Check it out!</a>
        </div>
    </div>
    <div class="col-lg-3 col-md-4">
        <a href="" class="innerlink"></a>
        <div class="tip">
            <p>Dit is een tip voor jouw cv te optimaliseren...</p>
            <a class="btn-default red">Check it out!</a>
        </div>
    </div>
    <div class="col-lg-3 col-md-4">
        <a href="" class="innerlink"></a>
        <div class="tip">
            <p>Dit is een tip voor jouw cv te optimaliseren...</p>
            <a class="btn-default red">Check it out!</a>
        </div>
    </div>
    <div class="col-lg-3 col-md-4">
        <div class="tip disabled-tip">
            <p>Unlock this tip by testing more skills.</p>
            <i class="fa fa-lock" aria-hidden="true"></i>
        </div>
    </div>
    <div class="col-lg-3 col-md-4">
        <div class="tip disabled-tip">
            <p>Unlock this tip by testing more skills.</p>
            <i class="fa fa-lock" aria-hidden="true"></i>
        </div>
    </div>
    <div class="col-lg-3 col-md-4">
        <div class="tip disabled-tip">
            <p>Unlock this tip by testing more skills.</p>
            <i class="fa fa-lock" aria-hidden="true"></i>
        </div>
    </div>
</div>
