<div class="dashboard-nav">
    <div>
        <a href="#/logout"><span class="icon-logout"></span></a>
        <h2>Welcome,<br> <mark>{{profile.firstname}} {{profile.lastname}}</mark></h2>
    </div>
    <nav>
        <ul>
            <li class="active"><a href="#/dashboard"><span class="icon-jobs"></span>My Goals<span class="icon-right"></span></a></li>
            <li><a href="#/skills"><span class="icon-skills"></span>My Skills<span class="icon-right"></span></a></li>
            <li class="disabled"><a href=""><span class="icon-cv"></span>My CV<span class="icon-right"></span></a></li>
            <li class="disabled"><a href=""><span class="icon-vacancies"></span>Vacancies<span class="icon-right"></span></a></li>
        </ul>
    </nav>
</div>
<div class="dashboard-nav-mobile">
    <nav>
        <ul>
            <li class="active"><a href="#/dashboard"><span class="icon-jobs"></span></a></li>
            <li><a href="#/skills"><span class="icon-skills"></span></a></li>
            <li class="disabled"><a href=""><span class="icon-cv"></span></a></li>
            <li class="disabled"><a href=""><span class="icon-vacancies"></span></a></li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="title-dashboard">
        <h1 class="head-title">My Goals</h1>
        <a class="btn-default yellow" href="#/match">add new goal +</a>
    </div>
    <div class="grid" ng-if="profile.goals.length < 1">
        <div class="message">Add some goals to test your skills.</div>
    </div>
    <div class="grid-wrapper">
        <div class="grid">
            <div class="board-job" ng-repeat="goal in profile.goals">
                <div class="innerbox">
                    <a class="icon-clear pull-right" aria-hidden="true" ng-click="removeGoal(goal)"></a>
                    <h2>{{goal.job.name}}</h2>
                    <img ng-src="img/jobs/{{goal.job.image_name}}" alt="">
                    <div class="txt-box">
                        <div>
                            <mark>{{ goal.job.job_skills.length }}</mark>
                            <p>Skills</p>
                        </div>
                        <a href="#/job/{{goal.job.id}}" class="btn-default red">View Job</a>
                        <a href="#/skills" class="btn-default yellow">Skills</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
