<div ng-if="job">
    <div class="row spacer-top">
        <div class="container">
            <div class="box-primary no-padding">
                <div class="row">
                    <div back-img="img/jobs/{{job.image_name}}" class="back-img">
                        <a href="" ng-click="stepInJob(job)" class="btn-default red">Choose as Goal</a>
                    </div>
                    <div class="spotlight-score text-center">
                        <p><mark>{{match.score | percentage:2}}</mark> <br/> matching </br> score</p>
                    </div>
                    <div class="col-md-12">
                        <h1>{{job.name}}</h1>
                        <div ng-bind-html="job.description"></div>
                        <a href="" ng-click="stepInJob(job)" class="btn-default red">Choose as Goal</a>
                        <p ng-if="job.source"><i>source: <a href="{{job.source}}" target="_new">{{job.source}}</a></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row spacer">

        <div class="container">

            <div class="page-navigation">

                <div class="row">

                    <div class="col-md-3">
                        <p>Level of importance <span class="icon-status-3"></span></p>
                    </div>

                    <div class="col-md-4 col-md-offset-1 clearpadding">

                        <a href="" id="skillBtn" ng-click="showSkills()" class="active">Skills</a>

                        <a href="" id="taskBtn" ng-click="showTasks()" >Tasks</a>

                        <div class="dummy"></div>

                    </div>

                </div>

            </div>

            <div class="row grid spacer skills">

                <div class="skill" ng-repeat="jobSkill in jobSkills">

                    <div class="innerbox">

                        <h2> {{jobSkill.skill.name}} </h2>
                        <span class="pull-right" ng-class="{'icon-status-3': jobSkill.weight>=20,'icon-status-2': jobSkill.weight<20&&jobSkill.weight>=10,'icon-status-1': jobSkill.weight<10&&jobSkill.weight>=5 }"></span>

                    </div>

                </div>

            </div>


            <div class="tasks row spacer">
                <div class="col-xs-12 text-center">
                    <h1> Tasks you liked </h1>
                </div>

                <div class="col-xs-12">
                     <div class="task-box" ng-repeat="jobTask in selectedTasks track by $index">
                        <p> {{jobTask.task.name}} </p>
                         <span class="pull-right" ng-class="{'icon-status-3': jobTask.weight==3,'icon-status-2': jobTask.weight==2,'icon-status-1': jobTask.weight==1 }"></span>
                     </div>
                </div>

                <div class="col-xs-12 text-center">
                     <h1> Other tasks </h1>
                </div>

                <!-- FIX THIS -->
                <div class="col-xs-12">
                     <div class="task-box" ng-repeat="jobTask in unselectedTasks track by $index">
                         <p> {{jobTask.task.name}} </p>
                         <span class="pull-right" ng-class="{'icon-status-3': jobTask.weight==3,'icon-status-2': jobTask.weight==2,'icon-status-1': jobTask.weight==1 }"></span>
                     </div>
                </div>


            </div>





            </div>

    </div>
    <div class="row hidden">

            <div class="container">

                <div class="col-sm-12 tools box-primary">

                    <h1> Tools van een {{job.name}} </h1>

                    <div class="col-md-3 tool">

                        <img src="img/tools/tool1.png" alt="">

                    </div>

                    <div class="col-md-3 tool">

                        <img src="img/tools/tool1.png" alt="">

                    </div>

                    <div class="col-md-3 tool">

                        <img src="img/tools/tool1.png" alt="">

                    </div>

                </div>

            </div>

        </div>
</div>







