<header class="row header-landing">
    <div class="col-md-12">
        <nav>
            <div class="logo pull-left">
                <a href=""><img src="/img/logo.bloovi_me.png" alt=""></a>
            </div>
            <div class="pull-right desktop-nav">
                <ul>
                    <li><a href="" ng-click="gotoAnchor('what')">What is digimaps</a></li>
                    <li><a href="" ng-click="gotoAnchor('how')">How it works</a></li>
                    <li><a href="/#/login" class="btn-nav" ng-if="!digimaps.isAuthenticated">Log in</a></li>
                    <li><a class="btn-primary red" href="/#/match">Get started</a></li>
                </ul>
            </div>
            <div class="pull-right mobile-nav">
                <div class="menu-open mobile-navigation pull-right" ng-controller="MenuCtrl">
                     <span class="pull-right navigation main-button" id="menu-open" onclick="openMobileNav()"
                           data-target="main">
                        <a href=""><i class="fa fa-bars" aria-hidden="true"></i></a>
                    </span>
                    <div id="sidenav" class="sidenav pull-right">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeMobileNav()">&times;</a>
                        <nav>
                            <a href="" class="btn-nav" ng-click="gotoAnchor('what')">What is digimaps</a>
                            <a href="" class="btn-nav" ng-click="gotoAnchor('how')">How it works</a>
                            <a href="/#/login" class="btn-nav" ng-if="!digimaps.isAuthenticated">Log in</a>
                            <a href="/#/match" class="btn-nav">Get started</a>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="landing-content">
    <div class="row spotlight-landing">
        <div class="container row-eq-height">
            <div class="col-md-8 col-sm-7">
                <img src="/img/mockup.png" alt="">
            </div>
            <div class="col-md-4 col-sm-5">
                <q>Your Digital Roadmap</q>
                <a href="#/match" class="btn-default red">Get started</a>
            </div>
        </div>
    </div>
    <div class="row spacer row-eq-height" id="anchor{{'what'}}">
        <div class="container box-primary spotlight-what row-eq-height">
            <div class="col-md-8">
                <h1>What is digimaps?</h1>
                <p>Digimaps is a set of tools and resources that will help you build your skillset for the digital
                    workplace. As more and more companies make the jump to digital marketing, they’ll be looking for
                    people who understand and can navigate the digital world.</p>
                <p>You’ve already got your traditional marketing knowledge and experience. Those skills are just as
                    valuable in digital marketing/media as they are in TV, print and radio. By adding proficiency
                    in the latest software, terminology and techniques, you’ll become highly sought after by digital
                    recruiters and employers. This way you’ll open up a whole new personal career path filled with
                    exciting job opportunities.</p>
            </div>
            <div class="col-md-4 pull-right">
            </div>
        </div>
    </div>
    <div class="row spacer how-box" id="anchor{{'how'}}">
        <div class="col-md-12">
            <h1>How does it work?</h1>
            <nav>
                <p class="msg">Click the icons to discover the 5 steps</p>
                <ul>
                    <li class="active"><img src="img/icons/orientation.svg" alt=""><a href=""></a></li>
                    <li><img src="img/icons/boardjob.svg" alt=""><a href=""></a></li>
                    <li><img src="img/icons/skills.svg" alt=""><a href=""></a></li>
                    <li><img src="img/icons/vacancies.svg" alt=""><a href=""></a></li>
                    <li><img src="img/icons/message.svg" alt=""><a href=""></a></li>
                </ul>
            </nav>
            <div class="container">
                <div class="carousel text-left">
                    <div class="row item row-eq-height active">
                        <div class="col-md-10">
                            <img src="img/orientation.png" alt="">
                        </div>
                        <div class="text-box">
                            <h1>1. Orientation</h1>
                            <p>First things first. Throughout the orientation step we’ll start building your Digimaps
                                job profile. By swiping through suggested choices you’ll save the appropriate ones that
                                reflect your current job tasks and acquired competencies.
                            </p>
                        </div>
                    </div>
                    <div class="row item row-eq-height">
                        <div class="col-md-10">
                            <img src="img/boardjob.png" alt="">
                        </div>
                        <div class="text-box">
                            <h1>2. Set my goal</h1>
                            <p>Next up, deciding what direction your next career move will be. Digimaps will provide a
                                list of ‘digital’ jobs that align with the daily tasks and skills. Save the jobs that
                                might interest you. Not convinced of your options yet? Continue specifying and get a more focussed proposal.
                            </p>
                        </div>
                    </div>
                    <div class="row item row-eq-height">
                        <div class="col-md-10">
                            <img src="img/test.png" alt="">
                        </div>
                        <div class="text-box">
                            <h1>3. Test my skills</h1>
                            <p>Here’s where we get to the nuts and bolts. Complete the onscreen activities to test
                                your current capabilities in digital advertising, SEO techniques, Google Analytics, Social Media, ...
                                Not so great? That’s where Digimaps steps in! Based on your results, you’ll be able to
                                navigate through online training and practice all your skills that need further development,
                                in order to work in digital marketing.
                            </p>
                        </div>
                    </div>
                    <div class="row item row-eq-height">
                        <div class="col-md-10">
                            <img src="img/bloovime.png" alt="">
                        </div>
                        <div class="text-box">
                            <h1>4. Learn / Develop</h1>
                            <p>Now, it’s up to you! DigiMaps will list several learning opportunities related to the skills
                                you want to develop, but you will have to take the initiative to follow courses or workshops,
                                read books/blogs, subscribe to newsletters, …
                                Once you’ve completed a learning opportunity you can test you skill.
                            </p>
                        </div>
                    </div>
                    <div class="row item row-eq-height">
                        <div class="col-md-10">
                            <img src="img/vacancies.png" alt="">
                        </div>
                        <div class="text-box">
                            <h1>5. Empower your CV</h1>
                            <p>Now that you’ve spiffed up your skills and experience, it’s time to get you ready for the application process.
                                Update your CV to reflect your newly acquired assets. As a privileged partner in recruitment Bloovi Me
                                gives tips and advice on how to do it, including what words to use and what the current layouts and designs are.
                                Success guaranteed.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row spacer cta-box">
        <div class="col-md-12">
            <div class="pull-left">
                <h1>What are you waiting for? Your dream job is out there! And Bloovi Me is here to help you get it.
                </h1>
            </div>
            <div class="pull-right">
                <a href="/#/match" class="btn-default red">Start orientation</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $(".how-box .col-md-12 nav ul li").click(function () {
            var index = $('.how-box nav li').index(this);

            $('nav ul .active').removeClass('active');
            $(this).addClass('active');

            $('.carousel .active').removeClass('active');
            $('.carousel .item').eq(index).addClass('active');

        });

    });
</script>