<div class="row login">

    <div class="col-md-4 col-md-offset-4">

        <div class="row">

            <div class="col-md-12 box-primary">

                <div class="row">

                        <div>
                            <img class="img-responsive" src="img/{{ logo }}" alt="Digimaps" style="max-height: 128px; max-width: 300px;">
                        </div>

                    <div class="col-md-12">

                        <h1> Login </h1>

                    </div>

                </div>

                <div class="row">

                    <form name="loginForm">

                        <div class="col-md-12">
                        
                             <div class="form-group">
                                 <div class="has-float-label">
                                    <input type="text" class="form-control" id="ln-login-username" placeholder="Enter e-mail address" ng-model="credentials.username" name="userName" required>
                                     <label for="ln-login-username">E-mail address</label>
                                 </div>
                            </div>

                            <div class="form-group">
                                <div class="has-float-label">
                                    <input type="password" class="form-control" id="ln-login-password" placeholder="Password" ng-model="credentials.password" name="password" required>
                                    <label for="ln-login-password">Password</label>
                                </div>
                            </div>

                            <p class="error" ng-if="loginMessage"> {{ loginMessage}}</p>

                            <button type="submit" class="btn-primary" ng-click="login(credentials)">Enter</button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-12 box-secondary">

                <div class="row">
                    
                    <div class="col-md-12">
                        
                        <h2>No account yet?</h2>

                        <p>We’re running a <mark>pilot </mark>with DigiMaps. Only a <mark>selected amount of people </mark>has access to the the tool.</p>
                        <p>Are you <mark>interested</mark> using DigiMaps to develop your skills? <mark>Contact us at <a href="mailto:info@bloovi.me">info@bloovi.me</a></mark></p>
                        <!--<a href="#/register" class="btn-default red">Register</a>-->

                    </div>

                </div>
                
            </div>

        </div>

    </div>

</div>