<div class="row tinder-head">
    <div class="col-md-2 text-center col-md-offset-5">
        <img src="../img/logo.bloovi_me.png" alt="">
    </div>
</div>
<div class="row">
    <div class="container box-primary matches">
        <div class="col-md-12" ng-if="matches.length == 0">
            <h2>Find a digital job</h2>
            <p> You will be presented <mark>5 tasks</mark>. <br> Confirm if you feel attracted to this task. <br> Or, decline if you don't want this task in your job. <br> The tasks you choose will <mark>define which jobs have a better match</mark>.</p>
            <a href="#/orientation" class="btn-default red"> Select tasks</a>
        </div>
        <div class="col-md-12" ng-repeat="match in matches track by $index">
            <h2>{{match.job.name}}</h2>
            <mark>{{match.score | percentage:0}}</mark>
            <div class="row">
                <div class="col-md-10">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{match.score | percentage:2}}"
                             aria-valuemin="0" aria-valuemax="100" style="width:{{match.score | percentage:2}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <a href="#/job/{{match.job.id}}" class="btn-primary yellow">View Job</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacer" ng-if="tasks.length">
	<div class="row">
        <div class="container">
            <div class="row selected">
                <div class="col-xs-12">
                    <div class="row">
                        <h1 class="head-title">This recommendation was made <br> based on the following preferences :</h1>
                        <a href="#/orientation" class="btn-default red"> Select more tasks</a>
                    </div>
                    <div class="row" ng-repeat="task in tasks">
                        <div class="col-sm-12">
                            <div class="row task-box">
                                <div class="col-xs-10 text-left">
                                    <p>{{task.name}}</p>
                                </div>
                                <div class="col-xs-2 text-right">
                                    <span class="glyphicon fa fa-times" aria-hidden="true" ng-click="removeTask(task)"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>