<div class="row head">
    <div class="col-xs-3">
        <back />
    </div>
    <div class="col-xs-6 text-center">
        <h1 class="">{{ application.pageTitle }}</h1>
    </div>
</div>
<div class="menu-open mobile-navigation pull-right" ng-controller="MenuCtrl">
     <span class="pull-right navigation main-button" id="menu-open" onclick="openNav()" data-target="main">
        <a href=""><i class="fa fa-bars" aria-hidden="true"></i></a>
    </span>
    <span class="pull-right navigation main-button hidden" id="menu-close" onclick="openNav()" data-target="main">
        <a href=""><i class="fa fa-bars" aria-hidden="true"></i></a>
    </span>

    <div id="mySidenav" class="sidenav pull-right" ng-if="!digimaps.isAuthenticated">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <nav>
            <a href="#/match" class="btn-nav"> <i class="fa fa-star-o" aria-hidden="true"></i>Job matches</a>
            <ul class="main-mobile">
                <li ng-repeat="match in matches"><a href="#/job/{{match.job.id}}" class=""> {{match.job.name}} <span class="percentage">{{match.score | percentage:2}}</span></a></li>
                <a href="#/" class="btn-default yellow text-center"> Choose more tasks </a>
            </ul>
             <a href="#/login" class="btn-nav"> <i class="fa fa-user-o" aria-hidden="true"></i> Log in </a>
        </nav>
    </div>

    <div id="mySidenav" ng-if="digimaps.isAuthenticated" class="sidenav pull-right">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <nav>
            <a href="#/dashboard" class="btn-nav"> <i class="fa fa-home" aria-hidden="true"></i> Dashboard </a>
            <a href="#/cv" class="btn-nav disabled"> <i class="fa fa-file-o" aria-hidden="true"></i> My CV </a>
            <a href="#/vacancies" class="btn-nav disabled"> <i class="fa fa-bookmark-o" aria-hidden="true"></i> Vacancies </a>
            <a href="#/logout" class="btn-nav"> <i class="fa fa-power-off" aria-hidden="true"></i> Log out </a>
            <a href="#/orientation" class="btn-default yellow text-center"> Choose new Board job </a>
        </nav>
    </div>  

</div>



<a href="#/cv" class="btn-nav"> <i class="fa fa-file-o" aria-hidden="true"></i> Mijn CV </a>
<a href="#/vacancies" class="btn-nav"> <i class="fa fa-bookmark-o" aria-hidden="true"></i> Vacatures </a>
            


