<div class="overlay row" ng-if="!digimaps.isAuthenticated && instruct">
	<div class="col-md-3">
		<h2> Instructions </h2>
		<p> Kies telkens één taak die jij leuker of beter vindt dan de andere. Hiermee berekenen we welke job het best bij jou past.</p>
		<a href="" ng-click="hideInstruct()">Start</a>
		<a href="#/login" >Login</a>
	</div>
</div>
<div class="overlay row" ng-if="digimaps.isAuthenticated && instruct">
	<div class="col-md-3">
		<h2> Instructions </h2>
		<p> Kies telkens één taak die jij leuker of beter vindt dan de andere. Hiermee berekenen we welke job het best bij jou past.</p>
		<a href="" ng-click="hideInstruct()">Start</a>
	</div>
</div>
<div class="row tinder-header">
	<div class="col-md-5 col-xs-8">
		<a class="placeholder-match" href="#/job/{{match.job.id}}" ng-if="match">
			<span>Best match</span>
			<span>{{match.job.name}}</span>
		</a>
	</div>
	<div class="col-md-2 text-center hide-mobile">
		<a href="/#/"><img src="../img/logo.bloovi_me.png" alt=""></a>
	</div>
	<div class="col-md-5 col-xs-4 text-right">
		<span class="progressbox">{{numberOfSelections}}/5 </span>
	</div>
</div>
<div class="row tinder">
    <div class="task">
        <span ng-if="task"> {{task.name}}</span>
    </div>
    <div class="tinder-choices">
    	<div class="col-xs-6">
    		<a href="" ng-click="selectTask(task)"><span class="icon-check"></span></a>
    	</div>
    	<div class="col-xs-6">
    		<a href="" ng-click="rejectTask(task)"><span class="icon-clear"></span></a>
    	</div>
    </div>
</div>

