<div class="row spacer">
    <div class="container text-center">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="progressbox">
                {{currentQuestion}}/{{maxQuestions}}
            </div>
            <div class="task-box">
                <h2> {{question.name}}</h2>
                <p> {{question.question}} </p>
            </div>
            <div class="answers">
                <div ng-repeat="option in question.options">
                    <a href="" ng-click="nextQuestion(option)" class="btn-answer"> {{option.text}} </a>
                </div>
            </div>
        </div>
    </div>
</div>
