<div class="row login">

    <div class="col-md-4 col-md-offset-4">

        <div class="row">

            <div class="col-md-12 box-primary">

                <div class="row">

                        <div class="text-center">
                            <img class="img-responsive center-block" src="img/{{ logo }}" alt="Digimaps" style="max-height: 128px; max-width: 300px;">
                        </div>

                    <div class="col-md-12">

                        <h2> Register </h2>

                        <p> Hi! Welcome to Digimaps. We’re here to help you build your digital fluency and expand your career horizons. Sign up now to get started — it only takes a minute!</p>

                    </div>

                </div>

                <div class="row">

                    <form name="registerForm">

                        <div class="col-md-12">

                            <div class="row">

                                <div class="col-md-6">

                                     <div class="form-group">
                                        <label for="ln-register-firstname">First Name</label>
                                        <input type="text" class="form-control" id="ln-register-firstname" ng-model="credentials.firstname" name="firstname" required>
                                    </div>

                                </div>

                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="ln-register-email">Name</label>
                                        <input type="text" class="form-control" id="ln-register-name" ng-model="credentials.lastname" name="name" required>
                                    </div>

                                </div>

                            </div>

                            <div class="form-group">
                                <label for="ln-register-email">Email</label>
                                <input type="email" class="form-control" id="ln-register-email" ng-model="credentials.email" name="email" required>
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ln-register-password">Password</label>
                                        <input type="password" class="form-control" id="ln-register-password" ng-model="credentials.password" name="password" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ln-register-repeatpassword">Repeat Password</label>
                                        <input type="password" class="form-control" id="ln-register-repeatpassword" ng-model="credentials.password_second" name="repeatpassword" required>
                                    </div>
                                </div>

                            </div>

                             <button type="submit" class="btn-primary red" ng-click="register(credentials)">Enter</button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-12 box-secondary">

                <div class="row">
                    
                    <div class="col-md-12">
                        
                        <h2>Already an account?</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <a href="#/login" class="btn-default red">Login</a>

                    </div>

                </div>
                
            </div>

        </div>

    </div>

</div>