<div class="dashboard-nav">
    <div>
        <a href="#/logout"><span class="icon-logout"></span></a>
        <h2>Welcome,<br> <mark>{{profile.firstname}} {{profile.lastname}}</mark></h2>
    </div>
    <nav>
        <ul>
            <li><a href="#/dashboard"><span class="icon-jobs"></span>My Goals<span class="icon-right"></span></a></li>
            <li class="active"><a href="#/skills"><span class="icon-skills"></span>My Skills<span class="icon-right"></span></a></li>
            <li class="disabled"><a href=""><span class="icon-cv"></span>My CV<span class="icon-right"></span></a></li>
            <li class="disabled"><a href=""><span class="icon-vacancies"></span>Vacancies<span class="icon-right"></span></a></li>
        </ul>
    </nav>
</div>
<div class="dashboard-nav-mobile">
    <nav>
        <ul>
            <li><a href="#/dashboard"><span class="icon-jobs"></span></a></li>
            <li class="active"><a href="#/skills"><span class="icon-skills"></span></a></li>
            <li class="disabled"><a href=""><span class="icon-cv"></span></a></li>
            <li class="disabled"><a href=""><span class="icon-vacancies"></span></a></li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="title-dashboard">
        <h1>Test results {{skill.name}}</h1>
    </div>
    <div class="grid-wrapper">
        <div class="box-primary spotlight-results">
            <div class="row row-eq-height">
                <div class="col-md-8">
                    <div>
                        <h1>{{skill.name}}</h1>
                        <p>You have given <mark>{{lastTest.score}} correct answers</mark> on <mark>{{lastTest.max_score}} questions</mark> </p>
                        <a href="#/skill/{{skill.id}}" class="btn-default">Suggest what to do next</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ng-cloak progress-number" ng-style="getStyle()"><mark>{{ lastTest.score/lastTest.max_score | percentage:0}}</mark><br> Score </div>
                    <round-progress
                            max=lastTest.max_score
                            current=lastTest.score
                            color="#F5CC24"
                            bgcolor="#FFF"
                            radius="120"
                            stroke="20"
                            semi="false"
                            rounded="false"
                            clockwise="false"
                            responsive="true"
                            duration="800"
                            animation="easeInOutQuart"
                            animation-delay="0"
                    >
                    </round-progress>
                </div>
            </div>
        </div>
        <div>
            <h1 class="head-title">Questions &amp; answers</h1>
            <div class="grid-questions">
                <div class="question" ng-repeat="answer in answers">
                    <div class="innerbox">
                        <span class="icon-check"  ng-if="answer.correct"></span>
                        <span class="icon-clear"  ng-if="!answer.correct"></span>
                        <h2>{{answer.question}}</h2>
                        <h3>Your answer:</h3>
                        <p>{{answer.answer}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>