<div class="dashboard-nav">
    <div>
        <a href="#/logout"><span class="icon-logout"></span></a>
        <h2>Welcome,<br> <mark>{{profile.firstname}} {{profile.lastname}}</mark></h2>
    </div>
    <nav>
        <ul>
            <li><a href="#/dashboard"><span class="icon-jobs"></span>My Goals<span class="icon-right"></span></a></li>
            <li class="active"><a href="#/skills"><span class="icon-skills"></span>My Skills<span class="icon-right"></span></a></li>
            <li class="disabled"><a href=""><span class="icon-cv"></span>My CV<span class="icon-right"></span></a></li>
            <li class="disabled"><a href=""><span class="icon-vacancies"></span>Vacancies<span class="icon-right"></span></a></li>
        </ul>
    </nav>
</div>
<div class="dashboard-nav-mobile">
    <nav>
        <ul>
            <li><a href="#/dashboard"><span class="icon-jobs"></span></a></li>
            <li class="active"><a href="#/skills"><span class="icon-skills"></span></a></li>
            <li class="disabled"><a href=""><span class="icon-cv"></span></a></li>
            <li class="disabled"><a href=""><span class="icon-vacancies"></span></a></li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="title-dashboard">
        <a href="#/skills" class="pull-left back-btn"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        <h1>{{skill.name}}</h1>
    </div>
    <div class="grid-wrapper">
        <div class="box-primary spotlight-results">
            <div class="row row-eq-height">
                <div class="col-md-8">
                    <div>
                        <div class="title-skill">
                            <h1>{{skill.name}}</h1>
                            <a href="" ng-if="score.score != 0" class="icon-check pull-right not-completed" aria-hidden="true" ng-class="{ 'completed': skill.score.state, 'not-completed': !skill.score.state}" ng-click="setCompleted(skill)"><span>{{getCompletionMessage()}}</span></a>
                        </div>
                        <p ng-if="testStarted(skill)">
                            You have given <mark>{{skill.score.score}} correct answers</mark> on <mark>{{skill.score.max_score}} questions</mark>
                        </p>
                        <p ng-if="!testStarted(skill)">
                            There are <mark>{{skill.score.total_questions}} questions</mark> to answer
                        </p>
                        <p ng-if="testInProgress(skill)">
                            There are <mark>{{skill.score.total_questions - skill.score.max_score}} questions</mark> left
                        </p>
                        <p ng-if="testFinished(skill)">
                            You have answered all questions!
                        </p>
                        <div class="suggestionbox">
                            <h2>What we suggest to do next:</h2>
                            <div class="btn-box">
                                <a ng-if="getSuggestion() == 'START'" ng-href="#/test/{{skill.id}}">answer some questions</a>
                                <a ng-if="getSuggestion() == 'MORE'" ng-href="#/test/{{skill.id}}">answer some more questions</a>
                                <a ng-if="getSuggestion() == 'LEARN'" ng-click="">learn</a>
                                <a ng-if="getSuggestion() == 'MARK'" ng-click="reset()">reset test</a>
                            </div>
                        </div>
                        <div class="suggestionbox">
                            <h2>Other actions:</h2>
                            <div class="btn-box">
                                <a ng-if="getSuggestion() == 'LEARN' || getSuggestion() == 'MARK'" ng-href="#/test/{{skill.id}}">answer some <span ng-if="testStarted(skill)">more</span> questions</a>
                                <a ng-if="getSuggestion() == 'MORE' || getSuggestion() == 'MARK'" ng-click="">learn</a>
                                <a ng-if="getSuggestion() == 'MORE' || getSuggestion() == 'LEARN'" ng-click="reset()">reset test</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" ng-if="testStarted(skill)">
                    <div class="ng-cloak progress-number" ng-style="getStyle()"><mark>{{ skill.score.score/skill.score.max_score | percentage:0}}</mark><br> Skill score </div>
                    <round-progress
                            max=skill.score.max_score
                            current=skill.score.score
                            color="#F5CC24"
                            bgcolor="#FFF"
                            radius="120"
                            stroke="20"
                            semi="false"
                            rounded="false"
                            clockwise="false"
                            responsive="true"
                            duration="800"
                            animation="easeInOutQuart"
                            animation-delay="0"
                    >
                    </round-progress>
                </div>
            </div>
        </div>
    </div>
        <div class="grid-wrapper">
            <h1 class="head-title clearmargin">Learning resources</h1>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default" ng-repeat="topic in skill.topics">
                    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{topic.id}}">
                        <h4 class="panel-title">
                            {{topic.name}}
                            <span>{{topic.objectives.length}} objectives</span>
                            <span>{{topic.score.score}} / {{topic.score.max_score}}</span>
                        </h4>
                        <a href="" data-target="#collapse{{topic.id}}"><span class="icon-down"></span></a>
                    </div>
                    <div id="collapse{{topic.id}}" class="panel-collapse collapse">
                        <div class="panel-body row">
                            <div class="objective" ng-repeat="objective in topic.objectives">
                                <div class="col-md-12">
                                    <h2>{{objective.name}}</h2>
                                </div>
                                <div class="grid-resources">
                                    <div class="row resource row-eq-height" ng-repeat="resource in objective.learning_resources">
                                        <div class="col-md-3">
                                            <div><span ng-class="{ book : resource.format.id == 1, ot : resource.format.id == 2, event : resource.format.id == 3}"></span>{{resource.format.description}}</div>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{resource.description}}</p>
                                        </div>
                                        <div class="col-md-3 pull-right">
                                            <a href="{{resource.url}}" target="_blank" class="btn-default blue">View resource</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
