<div class="dashboard-nav">
    <div>
        <a href="#/logout"><span class="icon-logout"></span></a>
        <h2>Welcome,<br> <mark>{{profile.firstname}} {{profile.lastname}}</mark></h2>
    </div>
    <nav>
        <ul>
            <li><a href="#/dashboard"><span class="icon-jobs"></span>My Goals<span class="icon-right"></span></a></li>
            <li class="active"><a href="#/skills"><span class="icon-skills"></span>My Skills<span class="icon-right"></span></a></li>
            <li class="disabled"><a href=""><span class="icon-cv"></span>My CV<span class="icon-right"></span></a></li>
            <li class="disabled"><a href=""><span class="icon-vacancies"></span>Vacancies<span class="icon-right"></span></a></li>
        </ul>
    </nav>
</div>
<div class="dashboard-nav-mobile">
    <nav>
        <ul>
            <li><a href="#/dashboard"><span class="icon-jobs"></span></a></li>
            <li class="active"><a href="#/skills"><span class="icon-skills"></span></a></li>
            <li class="disabled"><a href=""><span class="icon-cv"></span></a></li>
            <li class="disabled"><a href=""><span class="icon-vacancies"></span></a></li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="title-dashboard">
        <h1 class="head-title">My Skills</h1>
    </div>
    <div class="grid-wrapper">
        <div class="message" ng-if="profile.goals <= 0">
            Add some goals to test your skills.
        </div>
        <div class="col-md-12 box-primary spotlight-skills" ng-if="profile.goals != 0">
            <div class="row row-eq-height">
                <div class="col-md-4">
                    <div class="ng-cloak progress-number" ng-style="getStyle()"><mark>{{ skillsCompleted(getSkills(profile.goals))}} / {{ getSkills(profile.goals).length }}</mark><br> skills completed</div>
                    <round-progress
                            max=getSkills(profile.goals).length
                            current=skillsCompleted(getSkills(profile.goals))
                            color="#F5CC24"
                            bgcolor="#FFF"
                            radius="120"
                            stroke="20"
                            semi="false"
                            rounded="false"
                            clockwise="false"
                            responsive="true"
                            duration="800"
                            animation="easeInOutQuart"
                            animation-delay="0"
                    >
                    </round-progress>
                </div>
                <div class="col-md-8">
                    <div class="progress-box" ng-if="profile" ng-repeat="goal in profile.goals">
                        <h2>{{goal.job.name}}</h2>
                        <p><mark>{{ skillsCompleted(getJobSkills(goal.job))}} out of {{goal.job.job_skills.length}} </mark> skills completed</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow=""
                                 aria-valuemin="0" aria-valuemax="100" style="width:{{100*skillsCompletedPct(goal.job)}}%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dummy">

        </div>
    </div>
</div>
<div class="row grid-wrapper">
    <div class="secondary-navigation">
        <nav>
            <ul class="nav nav-tabs">
                <li class="active"><button data-toggle="tab" ng-click="filter(profile.goals)">All<mark>{{goal.job_skills.length}}</mark></button></li>
                <li ng-repeat="goal in profile.goals" class=""><button data-toggle="tab" ng-click="filter([goal])">{{goal.job.name}} <mark>{{goal.job.job_skills.length}}</mark></button></li>
            </ul>
        </nav>
    </div>
    <div class="grid-skills">
        <div class="skill" ng-repeat="skill in skills | orderBy:'+score.score'" ng-init="score = skill.score">
            <div class="innerbox">
                <div>
                    <h2>{{skill.name}}</h2>
                    <a href="" ng-if="score.score != 0" class="icon-check pull-right not-completed" aria-hidden="true" ng-class="{ 'completed': skill.score.state, 'not-completed': !skill.score.state}" ng-click="setCompleted(skill)"><span>{{getCompletionMessage(skill)}}</span></a>
                    <a class="btn-default yellow pull-right" ng-href="{{skill.score.max_score < skill.score.total_questions ? '#/test/' + skill.id :'#/test/' + skill.id + '/result'}}"  ng-if="score.score == 0">Start test</a>
                </div>
               <div class="row" ng-if="score.score != 0">
                   <div class="col-md-2 hide-mobile">
                       <div class="ng-cloak progress-number" ng-style="getStyle()">{{ getResult(score) | percentage:0}}</div>
                       <round-progress
                               max= score.max_score
                               current= score.score
                               color="#F5CC24"
                               bgcolor="#F2F2F2"
                               radius="120"
                               stroke="20"
                               semi="false"
                               rounded="false"
                               clockwise="false"
                               responsive="true"
                               duration="800"
                               animation="easeInOutQuart"
                               animation-delay="0"
                       >
                       </round-progress>
                   </div>
                   <div class="col-md-7">
                       <p>You have answered <mark>{{skill.score.max_score}}</mark> out of the <mark>{{skill.score.total_questions}}</mark> questions.</p>
                       <p>On this <mark>{{skill.score.max_score}}</mark> questions you had <mark>{{skill.score.score}}</mark> right answers. </p>
                   </div>
                   <div class="col-md-3 btn-box">
                       <a ng-if="skill.score.max_score == skill.score.total_questions" ng-click="reset(skill.id)" class="btn-default red">Reset test</a>
                       <a ng-if="skill.score.max_score != skill.score.total_questions" ng-href="{{skill.score.max_score < skill.score.total_questions ? '#/test/' + skill.id :'#/test/' + skill.id + '/result'}}" class="btn-default yellow">Continue test</a>
                       <a ng-href="#/skill/{{skill.id}}" class="btn-default blue">Learning resources</a>
                   </div>
               </div>
           </div>
        </div>
    </div>
</div>