<div class="dashboard-nav">
    <div>
        <a href="#/logout"><span class="icon-logout"></span></a>
        <h2>Welcome,<br> <mark>{{profile.firstname}} {{profile.lastname}}</mark></h2>
    </div>
    <nav>
        <ul>
            <li><a href="#/dashboard"><span class="icon-jobs"></span>My Goals<span class="icon-right"></span></a></li>
            <li class=""><a href="#/skills"><span class="icon-skills"></span>My Skills<span class="icon-right"></span></a></li>
            <li class=""><a href="#/cv"><span class="icon-cv"></span>My CV<span class="icon-right"></span></a></li>
            <li class="active"><a href="#/vacancies"><span class="icon-vacancies"></span>Vacancies<span class="icon-right"></span></a></li>
        </ul>
    </nav>
</div>
<div class="dashboard-nav-mobile">
    <nav>
        <ul>
            <li><a href="#/dashboard"><span class="icon-jobs"></span></a></li>
            <li class=""><a href="#/skills"><span class="icon-skills"></span></a></li>
            <li class=""><a href="#/cv"><span class="icon-cv"></span></a></li>
            <li class="active"><a href="#/vacancies"><span class="icon-vacancies"></span></a></li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="title-dashboard">
        <h1 class="head-title">Vacancies</h1>
    </div>
    <div class="filters">
        <form action="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="styled-select">
                        <select name="select-region" id="select-region">
                            <option value="" disabled selected>Region</option>
                            <option value="oost-vlaanderen">Oost Vlaanderen</option>
                            <option value="west-vlaanderen">West Vlaanderen</option>
                            <option value="limburg">Limburg</option>
                            <option value="brussel">Brussel</option>
                            <option value="vlaams-brabant">Vlaams-Brabant</option>
                            <option value="wallonië">Wallonië</option>
                            <option value="antwerpen">Antwerpen</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="styled-select">
                        <select name="select-job" id="select-job">
                            <option value="" disabled selected>Board job</option>
                            <option value="content-marketeer">Content marketeer</option>
                            <option value="content-writer">Content writer</option>
                            <option value="online-marketing-coordinator">Online marketing coördinator</option>
                            <option value="community-manager">Community manager</option>
                            <option value="social-media-marketeer">Social media marketeer</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row grid-wrapper vacancies">
    <div class="vacancy">
        <h2>Content marketeer</h2>
        <div><span class="fa fa-map-marker"></span>Gent</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio iste odit illum! Facilis velit corporis asperiores vel eaque optio reiciendis, ipsam aliquam, deserunt, quidem necessitatibus aperiam voluptatem dolor doloribus. Ducimus!</p>
        <a href="#/vacancies/1" class="btn-default yellow">Read more</a>
    </div>
    <div class="vacancy">
        <h2>Content marketeer</h2>
        <div><span class="fa fa-map-marker"></span>Gent</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio iste odit illum! Facilis velit corporis asperiores vel eaque optio reiciendis, ipsam aliquam, deserunt, quidem necessitatibus aperiam voluptatem dolor doloribus. Ducimus!</p>
        <a href="#/vacancies/1" class="btn-default yellow">Read more</a>
    </div>
    <div class="vacancy">
        <h2>Content marketeer</h2>
        <div><span class="fa fa-map-marker"></span>Gent</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio iste odit illum! Facilis velit corporis asperiores vel eaque optio reiciendis, ipsam aliquam, deserunt, quidem necessitatibus aperiam voluptatem dolor doloribus. Ducimus!</p>
        <a href="#/vacancies/1" class="btn-default yellow">Read more</a>
    </div>
</div>