<div class="dashboard-nav">
    <div>
        <a href="#/logout"><span class="icon-logout"></span></a>
        <h2>Welcome,<br> <mark>{{profile.firstname}} {{profile.lastname}}</mark></h2>
    </div>
    <nav>
        <ul>
            <li><a href="#/dashboard"><span class="icon-jobs"></span>My Goals<span class="icon-right"></span></a></li>
            <li><a href="#/skills"><span class="icon-skills"></span>My Skills<span class="icon-right"></span></a></li>
            <li><a href="#/cv"><span class="icon-cv"></span>My CV<span class="icon-right"></span></a></li>
            <li class="active"><a href="#/vacancies"><span class="icon-vacancies"></span>Vacancies<span class="icon-right"></span></a></li>
        </ul>
    </nav>
</div>
<div class="dashboard-nav-mobile">
    <nav>
        <ul>
            <li><a href="#/dashboard"><span class="icon-jobs"></span></a></li>
            <li><a href="#/skills"><span class="icon-skills"></span></a></li>
            <li><a href=""><span class="icon-cv"></span></a></li>
            <li class="active"><a href="#/vacancies"><span class="icon-vacancies"></span></a></li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="title-dashboard">
        <a href="#/vacancies" class="pull-left back-btn"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        <h1>{{skill.name}}</h1>
    </div>
</div>
<div class="row module-vacancies">
    <div class="container">
        <div class="col-md-10">
            <div class="row vacancy-detail">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam sunt quia ipsam molestias, quibusdam quis, dolor asperiores corporis repudiandae nisi dolorum placeat iusto at repellat quod accusantium, culpa laudantium expedita!</p>
                <h3>Your responsibilities</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cumque, laudantium dolor adipisci nam placeat rem numquam obcaecati tempora qui. Sunt, quas incidunt eveniet aliquam earum consequatur nisi aspernatur rerum?</p>
                <ul>
                    <li>The Webmaster is responsible for all  the technical facets of the online presence of the company.</li>
                    <li>The Webmaster is responsible for all  the technical facets of the online presence of the company.</li>
                    <li>The Webmaster is responsible for all  the technical facets of the online presence of the company.</li>
                    <li>The Webmaster is responsible for all  the technical facets of the online presence of the company.</li>
                </ul>
                <h3>Your strengths</h3>
                <ul>
                    <li>The Webmaster is responsible for all  the technical facets of the online presence of the company.</li>
                    <li>The Webmaster is responsible for all  the technical facets of the online presence of the company.</li>
                    <li>The Webmaster is responsible for all  the technical facets of the online presence of the company.</li>
                    <li>The Webmaster is responsible for all  the technical facets of the online presence of the company.</li>
                </ul>
                <h3>What do we offer you?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam quisquam incidunt pariatur distinctio ducimus corrupti libero modi a ratione, accusantium eaque perspiciatis adipisci aliquam aut quibusdam, totam commodi veniam!</p>
                <a href="" class="btn">I want this job</a>
            </div>
        </div>
    </div>
</div>
